---
---
// Colors
$cdv-light-green: #C4F3E6;
$cdvn-blue: #0099FF;
$cdvn-light-blue: #D9F0FF;
$cdvn-dark-blue: #005990;

.cdvn-blue {
  color: $cdvn-blue;
}

.cdvn-blue-bg {
  background-color: $cdvn-blue;
}

/* strong {
  color: $cdvn-dark-blue;
} */

.center {
  text-align: center;
}

a, a:link, a:hover, a:visited {
    color: $cdvn-blue;
}

#impressum {
  a, a:link, a:hover, a:visited {
      color: black;
  }
}

.logo-container {
  background: url('../img/header_logo_cdvnord.png') top center no-repeat;
  background-size: contain;
  height: 230px;
}

.logo-text {
  display: none;
}

.cdv-tiles1, .cdv-tiles10, .cdv-tiles11, .cdv-tiles12, .cdv-tiles13,
.cdv-tiles14, .cdv-tiles15, .cdv-tiles16, .cdv-tiles17, .cdv-tiles18,
.cdv-tiles19, .cdv-tiles2, .cdv-tiles20, .cdv-tiles21, .cdv-tiles22,
.cdv-tiles23, .cdv-tiles24, .cdv-tiles25, .cdv-tiles26, .cdv-tiles27,
.cdv-tiles28, .cdv-tiles29, .cdv-tiles3, .cdv-tiles30, .cdv-tiles31,
.cdv-tiles4, .cdv-tiles5, .cdv-tiles6, .cdv-tiles7, .cdv-tiles8,
.cdv-tiles9
{ display: block; background: url('../img/tiles/cdv_tiles_nord.jpg') no-repeat; }


.cdv-tiles1 { background-position: -4px -0px; width: 214px; height: 214px; }
.cdv-tiles10 { background-position: -222px -0px; width: 214px; height: 214px; }
.cdv-tiles11 { background-position: -440px -0px; width: 214px; height: 214px; }
.cdv-tiles12 { background-position: -658px -0px; width: 214px; height: 214px; }
.cdv-tiles13 { background-position: -876px -0px; width: 214px; height: 214px; }
.cdv-tiles14 { background-position: -4px -218px; width: 214px; height: 214px; }
.cdv-tiles15 { background-position: -222px -218px; width: 214px; height: 214px; }
.cdv-tiles16 { background-position: -440px -218px; width: 214px; height: 214px; }
.cdv-tiles17 { background-position: -658px -218px; width: 214px; height: 214px; }
.cdv-tiles18 { background-position: -876px -218px; width: 214px; height: 214px; }
.cdv-tiles19 { background-position: -4px -436px; width: 214px; height: 214px; }
.cdv-tiles2 { background-position: -222px -436px; width: 214px; height: 214px; }
.cdv-tiles20 { background-position: -440px -436px; width: 214px; height: 214px; }
.cdv-tiles21 { background-position: -658px -436px; width: 214px; height: 214px; }
.cdv-tiles22 { background-position: -876px -436px; width: 214px; height: 214px; }
.cdv-tiles23 { background-position: -4px -654px; width: 214px; height: 214px; }
.cdv-tiles24 { background-position: -222px -654px; width: 214px; height: 214px; }
.cdv-tiles25 { background-position: -440px -654px; width: 214px; height: 214px; }
.cdv-tiles26 { background-position: -658px -654px; width: 214px; height: 214px; }
.cdv-tiles27 { background-position: -876px -654px; width: 214px; height: 214px; }
.cdv-tiles28 { background-position: -4px -872px; width: 214px; height: 214px; }
.cdv-tiles29 { background-position: -222px -872px; width: 214px; height: 214px; }
.cdv-tiles3 { background-position: -440px -872px; width: 214px; height: 214px; }
.cdv-tiles30 { background-position: -658px -872px; width: 214px; height: 214px; }
.cdv-tiles31 { background-position: -876px -872px; width: 214px; height: 214px; }
.cdv-tiles4 { background-position: -4px -1090px; width: 214px; height: 214px; }
.cdv-tiles5 { background-position: -222px -1090px; width: 214px; height: 214px; }
.cdv-tiles6 { background-position: -440px -1090px; width: 214px; height: 214px; }
.cdv-tiles7 { background-position: -658px -1090px; width: 214px; height: 214px; }
.cdv-tiles8 { background-position: -876px -1090px; width: 214px; height: 214px; }
.cdv-tiles9 { background-position: -4px -1308px; width: 214px; height: 214px; }

a.main-signup {
  color: white;
  background-color: $cdvn-blue;
  font-weight: normal;

  :link, :hover, :visited {
    color: white;
  }
}
a.scroll-hint {
  color: $cdvn-blue;
}

@keyframes pulse {
  0% {
    color: $cdvn-blue;
  }

  100% {
    color: black;
  }
}

#events-main,
#sponsors {
  .subheader {
    padding-top: 0;
  }
}

p:first-child {
  margin-top: 1.6em;
}

.interlude {
  margin-left: 15px;
  margin-right: 15px;
  padding: 1.5em 0;
  background-color: $cdvn-light-blue;
}

.mini-interlude {
  background-color: $cdvn-light-blue;
}

.mini-interlude h3 {
  background-color: transparent;
}

.light-interlude {
  background-color: $cdvn-light-blue;
}

.btn-events,
.btn-events:link,
.btn-events:hover,
.btn-events:visited {
  font-family: Archive;
  font-size: 125%;
  color: white;
  background-color: $cdvn-blue;
  border-color: $cdvn-blue;
}

/* fix line-wrap */
.btn {
  white-space: normal;
}

.container .jumbotron,
.container-fluid .jumbotron {
  background-color: $cdvn-light-blue;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  padding: 1.5em 2em;

  ul {
    margin-top: 0;
    padding-left: 0;
    li {
      list-style: none;
      margin-bottom: .25em;
    }
  }
}

#programm {
  p:first-child {
    margin-top: 0;
  }
  p {
    margin-bottom: 1em;
  }
  .sep {
    background-image: none;
  }
}

/* tables */
.table {
  .head {
    background-color: $cdvn-blue;
  }
  td {
    background-color: $cdvn-light-blue;
  }
}

/* boxes */
.challenge-box {
  h3 {
    background-color: $cdvn-blue;
  }
  .box {
    background-color: $cdvn-light-blue;
  }

  p:first-child {
    margin-top: 0;
  }
  p {
    font-size: .9em;
  }
}

/* lists */
ul {
  margin-top: 1em;
}

/* Responsive Semantic Timeline http://codepen.io/kjohnson/pen/azBvaE */
$outline-width: 0;
$break-point: 500px;

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

$gray-base:     #999999;
$brand-primary: $cdvn-blue;

.section-header {
  color: $brand-primary;
  font-weight: 400;
  font-size: 1.2em;
}


.steps-header {
  @extend .section-header;
  margin-bottom: 20px;
  text-align: center;
}
.steps-timeline {
  outline: 1px dashed rgba(red, $outline-width);

  @media screen and (max-width: $break-point) {
    border-left: 2px solid $brand-primary;
    margin-left: 25px;
  }

  @media screen and (min-width: $break-point) {
    border-top: 2px solid $brand-primary;
    padding-top: 20px;
    margin-top: 40px;
    margin-left: 16.65%;
    margin-right: 16.65%;
  }

  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
.steps-one,
.steps-two,
.steps-three {
  outline: 1px dashed rgba(green, $outline-width);

  @media screen and (max-width: $break-point) {
    margin-left: -25px;
  }

  @media screen and (min-width: $break-point) {
    float: left;
    width: 33%;
    margin-top: -50px;
  }
}
.steps-one,
.steps-two {
  @media screen and (max-width: $break-point) {
    padding-bottom: 40px;
  }
}
.steps-one {
  @media screen and (min-width: $break-point) {
    margin-left: -16.65%;
    margin-right: 16.65%;
  }
}
.steps-two {

}
.steps-three {
  @media screen and (max-width: $break-point) {
    margin-bottom: -100%;
  }
  @media screen and (min-width: $break-point) {
    margin-left: 16.65%;
    margin-right: -16.65%;
  }
}

.steps-img {
  display: block;
  margin: auto;
  width: 50px;
  height: 50px;
  border-radius: 50%;

  @media screen and (max-width: $break-point) {
    float: left;
    margin-right: 20px;
  }
}

.steps-name,
.steps-description {
  margin: 0;
}
.steps-name {
  @extend .section-header;

  @media screen and (min-width: $break-point) {
    text-align: center;
  }
}
.steps-description {
  overflow: hidden;

  @media screen and (min-width: $break-point) {
    text-align: center;
  }
}

/* Adjustments to original Responsive Semantic Timeline */
.steps-timeline {
    margin-top: 4em;
    margin-bottom: 3em;
}

.steps-name {
  margin-top: 6px;
  margin-bottom: 3px;

  @media screen and (max-width: $break-point) {
    text-align: left;
  }

}
