@font-face {
  font-family: 'Archive';
  src: url('../fonts/archive.eot');
  src: local('☺'), url('../fonts/archive.woff') format('woff'), url('../fonts/archive.ttf') format('truetype'), url('../fonts/archive.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* May I be forgiven */
@media (min-width: 768px) {
  .col-sm-offset-1-5 {
    margin-left: 12.500000002%
  }
}
@media (min-width: 992px) {
  .col-md-offset-0 {
  margin-left: 0;
  }
}

body {
  font-family: 'Droid Serif', serif;
  font-size: 16pt;
  color: #111;
}

a, a:hover, a:visited, a:active {
  color: #00be7b;
}

a:hover {
  text-decoration: underline;
  color: #00be7b;
}

blockquote {
  border-left: 0;
}

h3 {
  font-weight: bold;
  font-size: 24px;
  text-align: center;
}

h4 {
  font-size: 22px;
  font-weight: bold;
  color: #000;
  margin-bottom: 5px;
  padding: 1em 0 0;
}

.background {
  background-color: white;
  position: relative;
  padding-top: 105px;
}

.header-above {
  margin-top: 720px;
}

.margin-row {
  margin-top: 2em;
}

.header {
  background: left top url('../img/header_background.jpg') repeat-x;
  height: 720px;
  width: 100%;
  text-align: center;
  position: fixed;
  overflow: hidden;
  top: 0;
  left: 0;
  z-index: -1;
}

.header-container {
  padding-top: 100px
}

.logo-container {
  background: url('../img/header_logo.png') top center no-repeat;
  width: 455px;
  padding-top: 180px;
  padding-bottom: 14px;
  margin: 0 auto;
  z-index: 1001;
  -webkit-transform: translate3d(0px, 0px, 0px);
  transform: translate3d(0px, 0px, 0px);
}

.logo-text {
  padding: 0 35px;
}

a.main-signup {
  padding: 15px 15px 10px;
  text-transform: uppercase;
  background-color: #19C6F9;
  font-size: 24pt;
  font-weight: bold;
  margin: 75px auto 0;
  z-index: 1001;
  width: 320px;
  display: block;
  color: #000;
  font-family: "Archive";
  -webkit-transform: translate3d(0px, 0px, 0px);
  transform: translate3d(0px, 0px, 0px);
}

a.main-signup:hover {
  color: #fff;
}

a.scroll-hint {
  font-size: 24pt;
  font-weight: bold;
  margin: 20px auto;
  z-index: 1001;
  width: 30px;
  display: block;
  -webkit-transform: translate3d(0px, 0px, 0px);
  transform: translate3d(0px, 0px, 0px);
  color: #00be7b;
  text-decoration: none;
  -webkit-animation: pulse 3s infinite alternate;
     -moz-animation: pulse 3s infinite alternate;
       -o-animation: pulse 3s infinite alternate;
          animation: pulse 3s infinite alternate;
}

a.scroll-hint:hover {
  text-decoration: none;
}


@-webkit-keyframes pulse {
  0% { color: #00be7b; }
  100% { color: #000; }
}

@keyframes pulse {
  0% { color: #00be7b; }
  100% { color: #000; }
}



@media (max-width: 768px) {
  .header {
    position: static;
  }
  .header-above {
    margin-top: 0;
  }
  .header-container {
    padding-top: 60px
  }
  .logo-container {
    background: url('../img/header_logo_320.png') top center no-repeat;
    padding-top: 120px;
    width: 320px;
  }
  .header-container {
    padding-left: 0;
    padding-right: 0;
  }
  .logo-text {
    font-size: 13pt;
  }
}

.nav-container {
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 1000;
  padding: 0;
}

@media (min-width: 768px) {

  .nav-container.affix-top {
    position: absolute;
    top: 0;
  }

  .nav-container.affix {
    position: fixed;
    top: 0px;
  }
  .nav-container.affix .navbar-davinci {
    border-bottom: 0;
  }
  .nav-container.affix-bottom {
    position: absolute
  }

}

.navbar-davinci {
  margin-bottom: 0;
  border: 0;
  border-radius: 0;
  margin-left: 15px;
  margin-right: 15px;
  border-bottom: 1px solid #000;
}

.navbar-davinci .navbar-brand {
  text-transform: uppercase;
  color: #00be7b;
  font-size: 18pt;
  padding-left: 0;
}

.navbar-davinci .navbar-nav {
  font-size: 16pt;
  text-align: right;
  padding-right: 15px;
}

.navbar-davinci .navbar-nav li {
  display: inline;
  margin: 0.5em 0;
}

.navbar-davinci .navbar-nav li a {
  color: #000;
  display: inline;
  font-size: 12pt;
  padding: 15px 5px;
}

.navbar-davinci .navbar-nav li.active a {
  color: #00be7b;
}

.navbar-davinci .navbar-nav li a.text-hide,
.navbar-davinci .navbar-nav li a.text-hide:hover {
  color: transparent;
}
.navbar-davinci .navbar-nav li a:hover {
  background-color: transparent;
  color: #00be7b;
}

.navbar-davinci .navbar-nav li.separator:after {
  content: "|";
  margin-left: -5px;
}

@media (max-width: 768px) {
  .nav-container {
    position: static !important;
  }
  .navbar-davinci .navbar-nav {
    text-align: center;
  }
  .navbar-davinci .navbar-brand {
    float: none;
    text-align: center;
    display: block;
  }
  .background {
    padding-top: 0;
  }
}

.navbar-davinci .navbar-nav .image-menu-link {
  height: 31px;
  margin-bottom: 0.4em;
  margin-top: 0.6em;
  margin-left: 0;
  display: block;
}

.image-menu-link > a {
  display: inline-block !important;
  background-position: center;
  background-repeat: no-repeat;
  width: 31px;
  margin-left: 5px;
}

.twitter {
  background-image: url('../img/twitter_icon.png');
}

hr {
  border-top: 1px solid #333;
}

.top-separator {
  margin-top: 50px;
}

.subheader {
  padding-top: 90px;
  border-bottom: 1px solid;
  margin-top: 0.25em;
  margin-bottom: 3.5em;
  text-align: center;
  background-repeat: no-repeat;
  background-position: center top;
}

.subheader h2 {
  color: #000;
  font-family: "Archive";
  font-size: 32pt;
  margin: 1em auto 0;
  position: relative;
  background-color: #fff;
  display: inline;
  padding: 0 15px;
  bottom: -25px;
}

.subheader-interlude h2 {
  background-color: #C4F3E6;
}

.subheader-about          {background-image: url('../img/icons/hand.png'); }
.subheader-uhr             {background-image: url('../img/icons/uhr.png'); }
.subheader-buch           {background-image: url('../img/icons/buch.png'); }
.subheader-lupe           {background-image: url('../img/icons/lupe.png'); }
.subheader-globus       {background-image: url('../img/icons/globus.png'); }
.subheader-radler       {background-image: url('../img/icons/radler.png'); }
.subheader-preis         {background-image: url('../img/icons/preis.png'); }
.subheader-challenge     {background-image: url('../img/icons/bogen.png'); }
.subheader-zylinder   {background-image: url('../img/icons/zylinder.png'); }
.subheader-haende       {background-image: url('../img/icons/haende.png'); }
.subheader-zylinder   {background-image: url('../img/icons/zylinder.png'); }
.subheader-banderole {background-image: url('../img/icons/banderole.png'); }
.subheader-ausrufer   {background-image: url('../img/icons/ausrufer.png'); }
.subheader-glocke       {background-image: url('../img/icons/glocke.png'); }
.subheader-kutsche     {background-image: url('../img/icons/kutsche.png'); }
.subheader-reiter       {background-image: url('../img/icons/reiter.png'); }


.subheader-kutsche,
.subheader-reiter {
  padding-top: 120px;
}

@media only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min-device-pixel-ratio: 2) {
  .subheader {
    background-size: 110px 110px;
  }
  .subheader-kutsche,
  .subheader-reiter {
    background-size: 150px 150px;
  }
.subheader-about          {background-image: url('../img/icons/hand-2x.png'); }
.subheader-uhr             {background-image: url('../img/icons/uhr-2x.png'); }
.subheader-buch           {background-image: url('../img/icons/buch-2x.png'); }
.subheader-lupe           {background-image: url('../img/icons/lupe-2x.png'); }
.subheader-globus       {background-image: url('../img/icons/globus-2x.png'); }
.subheader-radler       {background-image: url('../img/icons/radler-2x.png'); }
.subheader-preis         {background-image: url('../img/icons/preis-2x.png'); }
.subheader-challenge     {background-image: url('../img/icons/bogen-2x.png'); }
.subheader-zylinder   {background-image: url('../img/icons/zylinder-2x.png'); }
.subheader-haende       {background-image: url('../img/icons/haende-2x.png'); }
.subheader-zylinder   {background-image: url('../img/icons/zylinder-2x.png'); }
.subheader-banderole {background-image: url('../img/icons/banderole-2x.png'); }
.subheader-ausrufer   {background-image: url('../img/icons/ausrufer-2x.png'); }
.subheader-glocke       {background-image: url('../img/icons/glocke-2x.png'); }
.subheader-kutsche     {background-image: url('../img/icons/kutsche-2x.png'); }
.subheader-reiter       {background-image: url('../img/icons/reiter-2x.png'); }

}

.interlude {
  margin: 3em 0;
  padding: 1.5em 0;
  background-color: #C4F3E6;
}

.mini-interlude {
  margin: 3em 0;
  padding: 1.5em 0;
  background-color: #C4F3E6;
}

.mini-interlude h3 {
  padding: 0;
  background-color: transparent;
}

.subheader-interlude {
  padding-top: 0;
}

.lead {
  font-size: 24pt;
  color: #111;
}

.timebox > h3 {
  background-color: #00be7b;
  padding: 15px;
  margin: 0;
  font-family: "Archive";
  text-align: center;
}

.list-inline {
  margin-left: 0;
}

.list-inline>li {
  padding-right: 0;
  padding-left: 0;
  display: inline;
}

.list-inline li:after {
  padding-left: 5px;
  content: "|";
}

.list-inline li:last-child:after {
  padding: 0;
  content: " ";
}


.box {
  background-color: #00be7b;
  padding: 15px;
  font-size: 13pt;
}

.time-box {
  background-color: #00be7b;
  padding: 15px;
  min-height: 12em;
}

.time-box > p {
  padding: 0 20px;
  text-align: center;
}

.box-arrow {
  position: relative;
}

@media (min-width: 768px) {
  .box-arrow:after{
    position: absolute;
    content:"";
    width:0;
    height:0;
    right: 0;
    top: 40%;
    border-top:20px solid transparent;
    border-bottom:20px solid transparent;
    border-left:20px solid #00be7b;
  }
}

.image-heading {
  background-color: #18B56B;
  background-repeat: no-repeat;
  background-position: center 90%;
  margin-bottom: 0.5em;
  position: relative;
  padding: 15px 5px 110px;
}

.image-heading:after{
  position: absolute;
  content:"";
  width:0;
  height:0;
  bottom: -10px;
  left: 48%;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #18B56B;
}

.image-best-design {
  background-image: url('../img/best_design.png');
}

.btn-action {
  font-family: "Archive";
  font-size: 28pt;
  color: #000 !important;
  background-color: #17B564;
  border-radius: 0;
  white-space: normal;
  padding: 0.2em 0.5em 0;
}

.btn-action:hover {
  color: #fff !important;
  background-color: #17B564;
}

.outset {
  margin: 1em 0;
}

.center-link {
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  text-align: center;
  margin: 2em 0;
}

.jury-profile,
.jury-profile > div > img {
  text-align: center;
  display: inline;
}

.additional-text p {
  font-size: 12pt;
}

.footer {
  padding: 3em 0;
  margin: 5em 0 0;
  font-size: 11pt;
  background-color: #95EED7;
  min-height: 30em;
}

.footer a,
.footer a:hover {
  color: #000;
  text-decoration: underline;
}

.logos img {
  padding: 0.25em;
}

h5 {
  font-weight: bold;
}

/* Adornments */

/* entire container, keeps perspective */

.tiles {
  -webkit-transform: translate3d(0px, 0px, 0px);
     -moz-transform: translate3d(0px, 0px, 0px);
      -ms-transform: translate3d(0px, 0px, 0px);
      - o-transform: translate3d(0px, 0px, 0px);
          transform: translate3d(0px, 0px, 0px);
}

.header-tile {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  position: absolute;
  -webkit-transform: rotate(45deg);
     -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
       -o-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-perspective: 1000;
          perspective: 1000;
  z-index: 5;
}

/* flip the pane when hovered */
.header-tile:hover .flipper, .header-tile.hover .flipper {
  /*-webkit-transform: rotateY(180deg);*/
  /*-webkit-transform: matrix3d(-0.5984600691,0.0000000000,-0.8011526357,0.0000000000,0.6418455457,-0.5984600691,-0.4794578617,0.0000000000,-0.4794578617,-0.8011526357,0.3581544543,0.0000000000,0.0000000000,0.0000000000,0.0000000000,1.0000000000);*/
  /*-webkit-transform: matrix(-1, 0, 0, 0, -1, 0);*/
/*                    matrix3d(-1, 0, 0, 0,
                              0, -1, 0, 0,
                              0, 0, 1, 0
                              0, 0, 0, 1);*/
/*  -webkit-transform-origin: 106px 106px;
  -moz-transform-origin: 106px 106px;
  -webkit-transform: rotate(-45deg) rotateY(180deg) rotate(45deg);
  -moz-transform: rotate(-45deg) rotateY(180deg) rotate(45deg);*/
  -webkit-transform: rotateY(180deg);
     -moz-transform: rotateY(180deg);
      -ms-transform: rotateY(180deg);
       -o-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.header-tile .flipper.show-off {
  -webkit-transform: rotateY(2880deg);
     -moz-transform: rotateY(2880deg);
      -ms-transform: rotateY(2880deg);
       -o-transform: rotateY(2880deg);
          transform: rotateY(2880deg);
  -webkit-transition: all 2s ease-in;
     -moz-transition: all 2s ease-in;
      -ms-transition: all 2s ease-in;
       -o-transition: all 2s ease-in;
          transition: all 2s ease-in;
}

.header-tile, .front, .back {
  width: 214px;
  height: 214px;
}

.flipper {
  position: relative;
  -webkit-transition: all 0.6s ease-in;
     -moz-transition: all 0.6s ease-in;
      -ms-transition: all 0.6s ease-in;
       -o-transition: all 0.6s ease-in;
          transition: all 0.6s ease-in;
  -webkit-transform-style: preserve-3d;
     -moz-transform-style: preserve-3d;
      -ms-transform-style: preserve-3d;
       -o-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

/* hide back of pane during swap */
.front, .back {
  -webkit-backface-visibility: hidden;
     -moz-backface-visibility: hidden;
      -ms-backface-visibility: hidden;
       -o-backface-visibility: hidden;
          backface-visibility: hidden;

  position: absolute;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-transform: scale(1.04);
     -moz-transform: scale(1.04);
      -ms-transform: scale(1.04);
       -o-transform: scale(1.04);
          transform: scale(1.04);
}

/* front pane, placed above back */
.front {
  z-index: 10;
}

/* back, initially hidden pane */
.back {
  -webkit-transform: scale(1.04) rotateY(180deg);
     -moz-transform: scale(1.04) rotateY(180deg);
      -ms-transform: scale(1.04) rotateY(180deg);
       -o-transform: scale(1.04) rotateY(180deg);
          transform: scale(1.04) rotateY(180deg);
  z-index: 9;
}

.cdv-tiles1, .cdv-tiles10, .cdv-tiles11, .cdv-tiles12, .cdv-tiles13,
.cdv-tiles14, .cdv-tiles15, .cdv-tiles16, .cdv-tiles17, .cdv-tiles18,
.cdv-tiles19, .cdv-tiles2, .cdv-tiles20, .cdv-tiles21, .cdv-tiles22,
.cdv-tiles23, .cdv-tiles24, .cdv-tiles25, .cdv-tiles26, .cdv-tiles27,
.cdv-tiles28, .cdv-tiles29, .cdv-tiles3, .cdv-tiles30, .cdv-tiles31,
.cdv-tiles4, .cdv-tiles5, .cdv-tiles6, .cdv-tiles7, .cdv-tiles8,
.cdv-tiles9
{ display: block; background: url('../img/tiles/cdv_tiles.jpg') no-repeat; }

.cdv-tiles1 { background-position: -4px -0px; width: 214px; height: 214px; }
.cdv-tiles10 { background-position: -222px -0px; width: 214px; height: 214px; }
.cdv-tiles11 { background-position: -440px -0px; width: 214px; height: 214px; }
.cdv-tiles12 { background-position: -658px -0px; width: 214px; height: 214px; }
.cdv-tiles13 { background-position: -876px -0px; width: 214px; height: 214px; }
.cdv-tiles14 { background-position: -4px -218px; width: 214px; height: 214px; }
.cdv-tiles15 { background-position: -222px -218px; width: 214px; height: 214px; }
.cdv-tiles16 { background-position: -440px -218px; width: 214px; height: 214px; }
.cdv-tiles17 { background-position: -658px -218px; width: 214px; height: 214px; }
.cdv-tiles18 { background-position: -876px -218px; width: 214px; height: 214px; }
.cdv-tiles19 { background-position: -4px -436px; width: 214px; height: 214px; }
.cdv-tiles2 { background-position: -222px -436px; width: 214px; height: 214px; }
.cdv-tiles20 { background-position: -440px -436px; width: 214px; height: 214px; }
.cdv-tiles21 { background-position: -658px -436px; width: 214px; height: 214px; }
.cdv-tiles22 { background-position: -876px -436px; width: 214px; height: 214px; }
.cdv-tiles23 { background-position: -4px -654px; width: 214px; height: 214px; }
.cdv-tiles24 { background-position: -222px -654px; width: 214px; height: 214px; }
.cdv-tiles25 { background-position: -440px -654px; width: 214px; height: 214px; }
.cdv-tiles26 { background-position: -658px -654px; width: 214px; height: 214px; }
.cdv-tiles27 { background-position: -876px -654px; width: 214px; height: 214px; }
.cdv-tiles28 { background-position: -4px -872px; width: 214px; height: 214px; }
.cdv-tiles29 { background-position: -222px -872px; width: 214px; height: 214px; }
.cdv-tiles3 { background-position: -440px -872px; width: 214px; height: 214px; }
.cdv-tiles30 { background-position: -658px -872px; width: 214px; height: 214px; }
.cdv-tiles31 { background-position: -876px -872px; width: 214px; height: 214px; }
.cdv-tiles4 { background-position: -4px -1090px; width: 214px; height: 214px; }
.cdv-tiles5 { background-position: -222px -1090px; width: 214px; height: 214px; }
.cdv-tiles6 { background-position: -440px -1090px; width: 214px; height: 214px; }
.cdv-tiles7 { background-position: -658px -1090px; width: 214px; height: 214px; }
.cdv-tiles8 { background-position: -876px -1090px; width: 214px; height: 214px; }
.cdv-tiles9 { background-position: -4px -1308px; width: 214px; height: 214px; }

.code-tile1, .code-tile2, .code-tile3, .code-tile4, .code-tile5,
.code-tile6, .code-tile7, .code-tile8, .code-tile9
{ display: block; background: url('../img/tiles/code_tile.png') no-repeat; }

.code-tile1 { background-position: -4px -0px; width: 214px; height: 214px; }
.code-tile2 { background-position: -222px -0px; width: 214px; height: 214px; }
.code-tile3 { background-position: -440px -0px; width: 214px; height: 214px; }
.code-tile4 { background-position: -4px -218px; width: 214px; height: 214px; }
.code-tile5 { background-position: -222px -218px; width: 214px; height: 214px; }
.code-tile6 { background-position: -440px -218px; width: 214px; height: 214px; }
.code-tile7 { background-position: -4px -436px; width: 214px; height: 214px; }
.code-tile8 { background-position: -222px -436px; width: 214px; height: 214px; }
.code-tile9 { background-position: -440px -436px; width: 214px; height: 214px; }

@media only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min-device-pixel-ratio: 2) {
  .back {
    background-size: 214px 214px;
  }

  .code-tile1, .code-tile2, .code-tile3, .code-tile4, .code-tile5,
  .code-tile6, .code-tile7, .code-tile8, .code-tile9 {
    background: url('../img/tiles/code_tile-2x.png') no-repeat;
  }
  .code-tile1 { background-position: -4px -0px; }
  .code-tile2 { background-position: -436px -0px; }
  .code-tile3 { background-position: -868px -0px; }
  .code-tile4 { background-position: -4px -432px; }
  .code-tile5 { background-position: -436px -432px; }
  .code-tile6 { background-position: -868px -432px; }
  .code-tile7 { background-position: -4px -864px; }
  .code-tile8 { background-position: -436px -864px; }
  .code-tile9 { background-position: -868px -864px; }
}

.time-table {
  position: relative;
  margin: 2em 0 3em 100px;
  table-layout: fixed;
  word-break: break-all;
  width: 100%;
}

.time-table caption {
  font-family: 'Archive';
  font-size: 24pt;
  position: absolute;
  left: -100px;
  top: 35%;
  -webkit-transform: rotate(-90deg);
     -moz-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
       -o-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.time-table tr {
  margin-left: 10%;
}

.time-table td {
   padding-left: 30px;
}

.time-table tr td:first-child {
  font-family: 'Archive';
  padding-left: 0;
  width: 60px;
  height: 60px;
  text-align: center;
  border-radius: 40px;
  background-color: #ccf2e4;
  white-space: nowrap;
  position: relative;
}

/*.time-table tr td:first-child:after {
  background-color: #ccf2e4;
  position: absolute;
  content:"";
  width: 20px;
  height: 20px;
  bottom: -5px;
  left: 35%;
  border-left: 10px solid #ccf2e4;
  border-right: 10px solid #ccf2e4;
  border-top: 10px solid #ccf2e4;
}*/

.time-table tr:last-child td:first-child:after {
  display: none;
}

.time-table-connect-bottom {
  margin-bottom: 80px;
}

/*.time-table-connect-bottom tr:last-child td:first-child:after {
  display: block;
  height: 100px;
  bottom: -80px;
}*/

.time-table-connect-top {
  margin-top: 0;
}

/*.time-table-connect-top tr td:first-child:after {
  background-color: #ccf2e4;
  position: absolute;
  content:"";
  width: 20px;
  height: 20px;
  top: -5px;
  left: 35%;
  border-left: 10px solid #ccf2e4;
  border-right: 10px solid #ccf2e4;
  border-top: 10px solid #ccf2e4;
}*/

.minutes {
  position: relative;
  font-size: 65%;
  line-height: 0;
  vertical-align: baseline;
  top: -.3em;
  font-weight: normal;
}

.map {
  height: 500px;
  width: 100%;
  background-color: #eee;
  padding: 250px 0;
}

.map:after {
  margin: auto;
  content: "Karte aktivieren";
  text-decoration: underline;
  margin: 0 0 0 25%;
}