@font-face {
  font-family: 'Archive';
  src: url('../fonts/archive.eot');
  src: local('☺'), url('../fonts/archive.woff') format('woff'), url('../fonts/archive.ttf') format('truetype'), url('../fonts/archive.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* May I be forgiven */
@media (min-width: 768px) {
  .col-sm-offset-1-5 {
    margin-left: 12.500000002%
  }
}
@media (min-width: 992px) {
  .col-md-offset-0 {
  margin-left: 0;
  }
}

body {
  font-family: 'Droid Serif', serif;
  font-size: 16pt;
  color: #111;
}

a, a:hover, a:visited, a:active {
  color: #111;
}

a:hover {
  text-decoration: underline;
  color: #000;
}

.background {
  margin-top: 720px;
  background-color: white;
}

.header {
  background: left top url('../img/header_background.jpg') repeat-x;
  height: 720px;
  width: 100%;
  text-align: center;
  position: fixed;
  overflow: hidden;
  top: 0;
  left: 0;
  z-index: -1;
}

.header-container {
  padding-top: 100px
 }

.logo-container {
  background: url('../img/header_logo.png') top center no-repeat;
  width: 455px;
  padding-top: 180px;
  padding-bottom: 14px;
  margin: 0 auto;
  z-index: 1001;
  -webkit-transform: translate3d(0px, 0px, 0px);
  transform: translate3d(0px, 0px, 0px);
}

.logo-text {
  padding: 0 35px;
}

.main-signup {
  padding: 15px 15px 10px;
  text-transform: uppercase;
  background-color: #19C6F9;
  font-size: 24pt;
  font-weight: bold;
  margin: 75px auto;
  z-index: 1001;
  width: 320px;
  display: block;
  font-family: "Archive";
  -webkit-transform: translate3d(0px, 0px, 0px);
  transform: translate3d(0px, 0px, 0px);
}

@media (max-width: 768px) {
  .logo-container {
    background: url('../img/header_logo_320.png') top center no-repeat;
    padding-top: 120px;
    width: 320px;
  }
  .header-container {
    padding-left: 0;
    padding-right: 0;
  }
  .logo-text {
    font-size: 13pt;
  }
}

.nav-container {
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 1000;
}

@media (min-width: 768px) {

  .nav-container.affix-top {
    position: relative;
    margin-bottom: -50px;
  }

  .nav-container.affix {
    position: fixed;
    top: 0px;
  }
  .nav-container.affix-bottom {
    position: absolute
  }

}

.navbar-davinci {
  margin-bottom: 0;
  border: 0;
  border-radius: 0;
}

.navbar-davinci .navbar-brand {
  text-transform: uppercase;
  color: #17B564;
  font-size: 18pt;
  padding: 15px 0;
}

.navbar-davinci .navbar-brand:before {
  content: "{";
}
.navbar-davinci .navbar-brand:after {
  content: "}";
}

.navbar-davinci .navbar-nav {
  font-size: 16pt;
  text-align: right;
  padding-right: 15px;
}

.navbar-davinci .navbar-nav li {
  display: inline;
  margin: 0.5em 0;
}

.navbar-davinci .navbar-nav li a {
  color: #333;
  display: inline;
}
.navbar-davinci .navbar-nav li a:hover {
  background-color: transparent;
}

.navbar-davinci .navbar-nav li.separator:before {
  content: "|";
}

@media (max-width: 768px) {
  .nav-container {
    position: static !important;
  }
  .navbar-davinci .navbar-nav {
    text-align: center;
  }
  .navbar-davinci .navbar-brand {
    float: none;
    text-align: center;
    display: block;
  }
}

.image-menu-link {
  height: 30px;
  width: 30px;
  padding: 0;
  display: inline-block !important;
  background-position: center;
  background-repeat: no-repeat;
}

.twitter {
  background-image: url('../img/twitter_icon.png');
}

hr {
  border-top: 1px solid #333;
}

.top-separator {
  margin-top: 50px;
}

.subheader {
  padding-top: 25px;
  border-bottom: 1px solid;
  margin-top: 0.25em;
  margin-bottom: 3.5em;
  text-align: center;
  background-repeat: no-repeat;
  background-position: top center;
}

.subheader h2 {
  color: #000;
  font-family: "Archive";
  font-size: 32pt;
  margin: 1em auto 0;
  position: relative;
  background-color: #fff;
  display: inline;
  padding: 0 15px;
  bottom: -25px;
}

.subheader-interlude h2 {
  background-color: #C4F3E6;
}

.subheader-about {
  background-image: url('../img/subheader_hand.png');
}

.subheader-challenge {
  background-image: url('../img/subheader_challenge.png');
  padding-top: 100px !important;
}

.interlude {
  margin: 3em 0;
  padding: 1.5em 0;
  background-color: #C4F3E6;
}

.subheader-interlude {
  padding-top: 0;
}

.lead {
  font-size: 24pt;
  color: #111;
}

h3 {
  background-color: #17B564;
  padding: 15px;
  margin: 0;
  font-family: "Archive";
  text-align: center;
}

.list-inline li:after {
  padding-left: 10px;
  content: "|";
}

.list-inline li:last-child:after {
  padding: 0;
  content: " ";
}


.box {
  background-color: #AEF0DD;
  padding: 15px;
  font-size: 13pt;
}

.time-box {
  background-color: #17B46B;
  padding: 15px;
  min-height: 12em;
}


.box-arrow {
  position: relative;
}

@media (min-width: 768px) {
  .box-arrow:after{
    position: absolute;
    content:"";
    width:0;
    height:0;
    right: 0;
    top: 40%;
    border-top:20px solid transparent;
    border-bottom:20px solid transparent;
    border-left:20px solid #17B46B;
  }
}

.image-heading {
  background-color: #18B56B;
  background-repeat: no-repeat;
  background-position: center 90%;
  margin-bottom: 0.5em;
  position: relative;
  padding: 15px 5px 110px;
}

.image-heading:after{
  position: absolute;
  content:"";
  width:0;
  height:0;
  bottom: -10px;
  left: 48%;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #18B56B;
}

.image-best-design {
  background-image: url('../img/best_design.png');
}

.btn-action {
  font-family: "Archive";
  font-size: 28pt;
  color: #000;
  background-color: #17B564;
  border-radius: 0;
  white-space: normal;
}

h4 {
  font-weight: bold;
  color: #000;
  margin-bottom: 5px;
}

.center-link {
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  text-align: center;
  margin: 2em 0;
}

@media (min-width: 768px) {
  .profile-pic {
    text-align: center;
    margin: 0 auto;
  }
}

.additional-text p {
  font-size: 12pt;
}

.footer {
  padding: 3em 0;
  margin: 5em 0 0;
  font-size: 11pt;
  background-color: #95EED7;
  min-height: 30em;
}

h5 {
  font-weight: bold;
}

/* Adornments */

/* entire container, keeps perspective */

.tiles {
  -webkit-transform: translate3d(0px, 0px, 0px);
     -moz-transform: translate3d(0px, 0px, 0px);
      -ms-transform: translate3d(0px, 0px, 0px);
      - o-transform: translate3d(0px, 0px, 0px);
          transform: translate3d(0px, 0px, 0px);
}

.header-tile {
  position: absolute;
  -webkit-transform: rotate(45deg);
     -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
       -o-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-perspective: 1000;
          perspective: 1000;
  z-index: 5;
}

/* flip the pane when hovered */
.header-tile:hover .flipper, .header-tile.hover .flipper {
  /*-webkit-transform: rotateY(180deg);*/
  /*-webkit-transform: matrix3d(-0.5984600691,0.0000000000,-0.8011526357,0.0000000000,0.6418455457,-0.5984600691,-0.4794578617,0.0000000000,-0.4794578617,-0.8011526357,0.3581544543,0.0000000000,0.0000000000,0.0000000000,0.0000000000,1.0000000000);*/
  /*-webkit-transform: matrix(-1, 0, 0, 0, -1, 0);*/
/*                    matrix3d(-1, 0, 0, 0,
                              0, -1, 0, 0,
                              0, 0, 1, 0
                              0, 0, 0, 1);*/
/*  -webkit-transform-origin: 106px 106px;
  -moz-transform-origin: 106px 106px;
  -webkit-transform: rotate(-45deg) rotateY(180deg) rotate(45deg);
  -moz-transform: rotate(-45deg) rotateY(180deg) rotate(45deg);*/
  -webkit-transform: rotateY(180deg);
     -moz-transform: rotateY(180deg);
      -ms-transform: rotateY(180deg);
       -o-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.header-tile .flipper.show-off {
  -webkit-transform: rotateY(2880deg);
     -moz-transform: rotateY(2880deg);
      -ms-transform: rotateY(2880deg);
       -o-transform: rotateY(2880deg);
          transform: rotateY(2880deg);
  -webkit-transition: all 2s ease-in;
     -moz-transition: all 2s ease-in;
      -ms-transition: all 2s ease-in;
       -o-transition: all 2s ease-in;
          transition: all 2s ease-in;
}

.header-tile, .front, .back {
  width: 212px;
  height: 212px;
}

.flipper {
  position: relative;
  -webkit-transition: all 0.6s ease-in;
     -moz-transition: all 0.6s ease-in;
      -ms-transition: all 0.6s ease-in;
       -o-transition: all 0.6s ease-in;
          transition: all 0.6s ease-in;
  -webkit-transform-style: preserve-3d;
     -moz-transform-style: preserve-3d;
      -ms-transform-style: preserve-3d;
       -o-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

/* hide back of pane during swap */
.front, .back {
  -webkit-backface-visibility: hidden;
     -moz-backface-visibility: hidden;
      -ms-backface-visibility: hidden;
       -o-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform: scale(1.05);
     -moz-transform: scale(1.05);
      -ms-transform: scale(1.05);
       -o-transform: scale(1.05);
          transform: scale(1.05);

  position: absolute;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  background-position: center center;
}

/* front pane, placed above back */
.front {
  z-index: 10;
}

/* back, initially hidden pane */
.back {
  -webkit-transform: rotateY(180deg);
     -moz-transform: rotateY(180deg);
      -ms-transform: rotateY(180deg);
       -o-transform: rotateY(180deg);
          transform: rotateY(180deg);
  z-index: 9;
}

.tile-1b {
  background-image: url('../img/code_tile_1.png');
}
