---
layout: nord
slug: events
slug2: nord
css: true
header: true
header_nord: true
header_events: true
---

<div id="events-intro" class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <header id="cdvn" class="subheader subheader-banderole">
        <h2>&nbsp;Coding da Vinci <span class="cdvn-blue">Nord</span>&nbsp;</h2>
      </header>
    </div>
  </div>
   <div class="row">
    <div class="col-lg-6 col-lg-offset-3">
      <p>
        <strong class="cdvn-blue">Coding da&nbsp;Vinci Nord</strong> ist ein Kulturhackathon mit regionalem Fokus auf den Norden Europas, der sich für die freie Verfügbarkeit und Nutzbarkeit von Kulturdaten einsetzt, mit dem Ziel, Teilnehmern und Kulturinstitutionen das Potenzial frei verfügbarer Daten zu zeigen und einen Raum für Experimente bereitzustellen, die Innovationen hervorbringen können.
      </p>
      <p>2016 entwickelten <strong>Entwickler*innen, Designer*innen, Geistes&shy;wissen&shy;schaft&shy;ler und Kultur&shy;interes&shy;sierte</strong> aus Nord&shy;deutschland und Dänemark im Rahmen des Kultur&shy;hackathons <strong class="cdvn-blue">Coding da&nbsp;Vinci Nord</strong> innerhalb von sechs Wochen in inter&shy;diszi&shy;plinären Projekten neue Apps, Webseiten und andere digitale Ausdrucks&shy;formen auf der Grundlage offener Kulturdaten.</p>
      <p>Bei der <strong>Preisverleihung am 6. November 2016</strong> wurden die Ergebnisse ihrer Entwicklungs&shy;arbeit im ausverkauften <em>resonanzraum</em> <strong>über 150 Gästen</strong> präsentiert und von einer Jury in fünf unterschiedlichen Kategorien gekürt.</p>
    </div>
  </div>
</div>

<div id="awards" class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <header id="cdvn" class="subheader subheader-preis">
        <h2>&nbsp;Die Preisträger 2016</h2>
      </header>
    </div>
  </div>
 <div class="row">
    <div class="col-lg-6 col-lg-offset-3">
      <div class="jumbotron">
        <h4>Best of Show</h4>
          <p class="winner"><strong><a href="https://hackdash.org/projects/57dd6cb2d9284f016c047471" target="_blank">Zeitblick</a></strong></p>
        <h4>Unusual Use of Data</h4>
        <p class="winner"><strong><a href="https://hackdash.org/projects/57dd6265d9284f016c047469" target="_blank">Klang der Sterne</a></strong></p>
        <h4>Technical Achievement</h4>
        <p class="winner"><strong><a href="https://hackdash.org/projects/58109bc9d9284f016c0477ac" target="_blank">Sound of Sails</a></strong></p>
        <h4>Best Design</h4>
        <p class="winner"><strong><a href="https://hackdash.org/projects/57dd718ed9284f016c047476" target="_blank">MKGo</a></strong></p>
        <h4>Most Playful</h4>
        <p class="winner"><strong><a href="https://hackdash.org/projects/57de7fddd9284f016c047485" target="_blank">KollekTOURmat</a></strong></p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 col-lg-offset-3">
      <p>
        Als <strong>Best of Show</strong> wurde die App <em><a href="https://hackdash.org/projects/57dd6cb2d9284f016c047471" target="_blank">Zeitblick</a></em> (im <a href="https://appsto.re/de/_C2Ffb.i" target="_blank">App Store</a>) ausgezeichnet. Der Benutzer nimmt von sich ein Selfie auf, und die Anwendung analysiert den Gesichtsausdruck und findet ein entsprechendes historisches Foto in der Datenbank der Sammlung Online des Museums für Kunst und Gewerbe.
      </p>
      <p>
        Die Preisträger in den weiteren vier Kategorien sind <em><a href="https://hackdash.org/projects/57dd6265d9284f016c047469" target="_blank">Klang der Sterne</a></em> (Most Unusual Use of Data), <em><a href="https://hackdash.org/projects/58109bc9d9284f016c0477ac" target="_blank">Sound of Sails</a></em> (Technical Achievement), <em><a href="https://hackdash.org/projects/57dd718ed9284f016c047476" target="_blank">MKGo</a></em> (Best Design)
        und <em><a href="https://hackdash.org/projects/57de7fddd9284f016c047485" target="_blank">KollekTOURmat</a></em> (Most Playful; <a href="http://kollektourmat.de" target="_blank">kollektourmat.de</a>).
      </p>
      <p>
        Informationen zu den Preisträgern und allen weiteren Projektentwicklungen von <strong class="cdvn-blue">Coding da&nbsp;Vinci Nord</strong> sind bei <a href="https://hackdash.org/dashboards/cdvnord" target="_blank">Hackdash</a> einsehbar.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 col-lg-offset-3">
      <img class="img-rounded" style="margin: 6px 0;" src="{{site.baseurl}}img/events/cdvn_preistraeger-2016.jpg" />
      <p class="caption-text">Die Preisträger*innen 2016! (CC-BY Coding da Vinci Nord / Foto: Mirco Larsen – puff4.0)</p>
    </div>
  </div>
    <div class="row">
      <div class="col-lg-6 col-lg-offset-3">
       <p>
         Eröffnet wurde die Preisverleihung durch den Staatsrat der Kulturbehörde Dr. Carsten Brosda. Nach weiteren Beiträgen von Prof. Dr. Rainer-Maria Weiss (Direktor Archäologisches Museum Hamburg), Börries von Notz (Alleinvorstand der Stiftung Historische Museen Hamburg), Dr. Antje Schmidt (Leiterin Digitale Inventarisierung, Museum für Kunst und Gewerbe) und Stephan Bartholmei (Deutsche Digitale Bibliothek) wurden Jury und Publikum von den Projektteams die Ergebnisse ihrer sechswöchigen Arbeit präsentiert.
       </p>
       <p>
         Jurymitglieder waren Stephan Bartholmei (Deutsche Digitale Bibliothek), Jeanne Charlotte Vogt (A/D/A, NODE Forum), Marco Maas (x minutes), Luise Overgaard (Dokk 1, Bibliothek in Aarhus, Vorstand Coding Pirates Dänemark), Nina Dreier (Kulturbehörde Hamburg) und Prof. Frank Steinicke (Uni Hamburg, Human-Computer Interaction, Informatik).
       </p>
     </div>
   </div>
   <div class="row">
     <div class="col-lg-6 col-lg-offset-3">
       <p class="center"><a class="btn btn-primary btn-lg btn-events" href="http://eepurl.com/b4EcrX"  target="_blank" role="button">Newsletter abonnieren</a></p>
     </div>
   </div>
   <div class="row">
     <div class="col-lg-6 col-lg-offset-3">
       <p>
         Mit <strong>über 100 Teilnehmer*innen</strong> aus Softwareentwicklung, Design und Geisteswissenschaften, und aus <strong>19 teilnehmenden Kulturinstitutionen aus dem Norden Deutschlands, aus Aarhus und  Stockholm</strong>, war <strong class="cdvn-blue">Coding da&nbsp;Vinci Nord</strong> am 17. und 18. September 2016 in Hamburg fulminant gestartet.
       </p>
     </div>
   </div>
   <div class="row">
     <div class="col-lg-10 col-lg-offset-1">
       <!-- STEPS Semantic Timeline -->
       <section id="Steps" class="steps-section">
         <div class="steps-timeline">

           <div class="steps-one">
             <img class="steps-img" src="/img/nord/cdvn-blue-45x45.png" alt="" />
             <h3 class="steps-name">
               Kick-Off ✔︎
             </h3>
             <p class="steps-description">
               17. + 18. September
             </p>
           </div>

           <div class="steps-two">
             <img class="steps-img" src="/img/nord/cdvn-blue-45x45.png" alt="" />
             <h3 class="steps-name">
               Sprint ✔︎

             </h3>
             <p class="steps-description">
                6 Wochen Entwicklungszeit
             </p>
           </div>

           <div class="steps-three">
             <img class="steps-img" src="/img/nord/cdvn-blue-45x45.png" alt="" />
             <h3 class="steps-name">
               Preisverleihung & Party  ✔︎
             </h3>
             <p class="steps-description">
                6. November
             </p>
           </div>
         </div>
       </section>
     </div>
   </div>
   <div class="row">
     <div class="col-lg-6 col-lg-offset-3">
       <p>
         <strong>17 Teams</strong> haben sich bei diesem Kick-Off gefunden. Sie haben ihre Projektideen bis zu ihrer öffentlichen Vorstellung bei der <strong>Preisverleihung am 6. November</strong> in sechs Wochen zu mobilen Apps, Webseiten, Spielen, und interaktiven Installationen weiterentwickelt. Sie alle arbeiten mit den <strong><a href="{{site.baseurl}}daten">26 Datensammlungen</a></strong>, insgesamt <strong>über 600.000 Datensätzen</strong>, zu Kulturdenkmälern, Kunstwerken und Kunsthandwerk, Fotografie, Architektur, Münzen, Werbemitteln, archäologischen Fundstücken und historischen Karten zu Hamburg und der Hammaburg, bis hin zu astronomischen Bildplatten.
       </p>
       <p>
         <a href="{{site.baseurl}}daten">Die Daten stehen dauerhaft auch allen anderen Interessierten unter offenen Lizenzen frei zur Verfügung.</a>
       </p>
     </div>
   </div>
   <div class="row">
     <div class="col-lg-10 col-lg-offset-1">
       <img class="img-rounded" style="margin: 6px 0;" src="{{site.baseurl}}img/events/CDV-Nord-Kick-Off-16-pan-xs.jpg" />
       <p class="caption-text">Coding da Vinci Nord: Kick-Off in vollem Gange!</p>
     </div>
   </div>
</div>

<div id="programm" class="container-fluid">
  <div class="row">
    <div class="col-lg-10 col-lg-offset-1">
      <header class="subheader subheader-uhr">
        <h2>&nbsp;Programm 2016&nbsp;</h2>
      </header>
    </div>
  </div>

  <div class="container" id="schedule">
     {% assign program = site.data.program_nord[0] %}

     <div class="row">
       <div class="col-lg-5 col-lg-offset-1">
         <div class="programheader">
           <h2>{{ program.header }}</h2>
         </div>


         <table class="table">
           <thead>
             <tr>
               <td class="head" colspan="2">{{ program.title }}</td>
             </tr>
           </thead>

           {% for entry in program.entries %}
           <tr>
             <td>{{ entry.date | date:"%H:%M"}}</td>
             <td>{{ entry.content }}</td>
           </tr>
           {% endfor %}
         </table>

         {% assign program = site.data.program_nord[1] %}
         <table class="table">
           <thead>
             <tr>
               <td class="head" colspan="2">{{ program.title }}</td>
             </tr>
           </thead>

           {% for entry in program.entries %}
           <tr>
             <td>{{ entry.date | date:"%H:%M"}}</td>
             <td>{{ entry.content }}</td>
           </tr>
           {% endfor %}
         </table>
       </div>

       <div class="col-lg-5">
         {% assign program = site.data.program_nord[2] %}
         <div class="programheader">
           <h2>{{ program.header }}</h2>
         </div>
         <table class="table">
           <thead>
             <tr>
               <td colspan="2" class="head">{{ program.title }}</td>
             </tr>
           </thead>
           <tr>
             <td>
               <img src="{{ program.image}}" alt="Sprint" />
             </td>
           </tr>
           {% for entry in program.entries %}
           <tr>
             <td>{{ entry.content }}</td>
           </tr>
           {% endfor %}

         </table>

         {% assign program = site.data.program_nord[3] %}
         <div class="programheader">
           <h2>{{ program.header }}</h2>
         </div>
         <table class="table">
           <thead>
             <tr>
               <td class="head">{{ program.title }}</td>
             </tr>
           </thead>

           {% for entry in program.entries %}
           <tr>
             <td>{{ entry.content }}</td>
           </tr>
           {% endfor %}
         </table>

       </div>
     </div>

     <div class="row">
       <div class="col-lg-10 col-lg-offset-1">
         {% assign program = site.data.program_nord[4] %}
         <table class="table">
           <thead>
             <tr>
               <td class="head" colspan="3">{{ program.title }}: {{ program.header }}</td>
             </tr>
           </thead>

           {% for entry in program.entries %}
           <tr>
             <td>{{ entry.date | date:"%H:%M"}}</td>
             <td>{{ entry.content }}</td>
             <td>{{ entry.moderator}}</td>
           </tr>
           {% endfor %}
         </table>
       </div>
     </div>

  </div>
</div>

<div id="about" class="container-fluid">
  <div class="row">
     <div class="col-lg-12">
      <header class="subheader">
        <h2>&nbsp;Über Coding da Vinci <span class="cdvn-blue">Nord</span>&nbsp;</h2>
      </header>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 col-lg-offset-3">
      <p>
        <strong class="cdvn-blue">Coding da&nbsp;Vinci Nord</strong> ist ein Kulturhackathon mit regionalem Fokus auf den Norden Europas, der sich für die freie Verfügbarkeit und Nutzbarkeit von Kulturdaten einsetzt, mit dem Ziel, Teilnehmern und Kulturinstitutionen das Potenzial frei verfügbarer Daten zu zeigen und einen Raum für Experimente bereitzustellen, die Innovationen hervorbringen können.
      </p>
      <p>
        Der Kulturhackathon wurde 2016 gemeinschaftlich vom Archäologischen Museum Hamburg, Code for Hamburg, eCulture.info, der Hamburg Kreativ Gesellschaft, Projekte&amp;Seminare – Sabine Heydenbluth, der Stiftung Historische Museen Hamburg, We-Build.City und Wikipedia Hamburg veranstaltet.
      </p>
      <p>
        2014 war <strong>Coding da Vinci</strong> in Berlin als deutschlandweites Event von der Deutschen Digitalen Bibliothek, der Open Knowledge Foundation Deutschland, Wikimedia Deutschland und der Servicestelle Digitalisierung Berlin gegründet worden.
      </p>
    </div>
  </div>

<div id="sponsors" class="container-fluid">
  <div class="row">
    <div class="col-lg-10 col-lg-offset-1">
      <header class="subheader"> <!-- subheader-ausrufer -->
        <h2>&nbsp;Unterstützer&nbsp;</h2>
      </header>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <header class="subheader">
        <h3>&nbsp;Förderer&nbsp;</h3>
      </header>
      <div class="row">
        <div class="col-lg-6 center">
          <a href="http://kreativgesellschaft.org/" target="_blank"><img class="wide" src="{{site.baseurl}}img/nord/logos-2016-hh/LogoHKG_web.svg" alt="Hamburg Kreativ Gesellschaft" style="width: 110%; height: auto; position: relative; left: -10%;" /></a>
         </div>
        <div class="col-lg-6 left">
          <a href="http://mindspace.me/hamburg/" target="_blank"><img class="wide" src="http://mindspace.me/wp-content/themes/mindspace/css/images/mindspace_logo.svg" alt="Logo ©Mindspace" style="width: 100%; height: auto;" /></a>
        </div>
      </div>
      <div class="row">
         <div class="col-lg-6 center">
         <img src="{{site.baseurl}}img/nord/logos-2016-hh/Logo_eCulture.info_rot.png" alt="eCulture.info" style="width: 65%; height: auto" />
        </div>
        <div class="col-lg-6">
          <a href="http://www.puff-agency.com/" target="_blank"><img class="wide" src="{{site.baseurl}}img/nord/supporter-nord/puff4.0Logo.png" alt="Logo ©puff4.0" style="width: 100%" /></a>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <header class="subheader">
        <h3>&nbsp;Sponsoren&nbsp;</h3>
      </header>
      <div class="row">
        <div class="col-lg-4">
          <a href="http://www.eos-uptrade.de" target="_blank"><img src="{{site.baseurl}}img/nord/supporter-nord/eos_uptrade2.png" alt="Logo ©eos.uptrade" style="width:auto; height: 90%" /></a>
        </div>
        <div class="col-lg-4 center">
          <a href="https://gomus.de/" target="_blank"><img src="http://gomus.de/wp-content/uploads/2016/06/gomus_label_600x600.png" alt="go~mus Logo ©Giant Monkey" style="width: 45%; height: auto;" /></a>
        </div>
        <div class="col-lg-4">
        <a href="http://we-build.city/" target="_blank"><img src="{{site.baseurl}}img/nord/logos-2016-hh/wbc_logo.svg" alt="We-Build.City" style="width: 75%; height: auto" /></a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 col-lg-offset-3">
      <header class="">
        <h4>sowie</h4>
      </header>
      <div class="row">
        <div class="col-lg-3">
          <a href="http://www.ada-hamburg.de/" target="_blank"><img src="{{site.baseurl}}img/nord/supporter-nord/160721_ADA_LOGO.svg" alt="Logo ©A/D/A Hamburg" width="auto" height="60px" /></a>
        </div>
        <div class="col-lg-2">
          <a href="http://node.vvvv.org/" target="_blank"><img src="{{site.baseurl}}img/nord/supporter-nord/NODE-SW.svg" alt="Logo ©NODE FORUM" width="auto" height="90px" /></a>
        </div>
        <div class="col-lg-4">
          <a href="http://theartsplus.com/" target="_blank"><img src="{{site.baseurl}}img/nord/supporter-nord/TheArts+Logo.svg" alt="Logo ©THE ARTS+" width="auto" height="60px" /></a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 col-lg-offset-3">
      <div class="row">
        <div class="col-lg-2">
          <a href="http://www.flora-power.de/" target="_blank"><img src="{{site.baseurl}}img/nord/supporter-nord/florapower.jpg" alt="Logo ©Flora-Power" width="auto" height="60px" /></a>
        </div>
        <div class="col-lg-2 col-lg-offset-1">
          <a href="http://edu-sharing-network.org/" target="_blank"><img src="{{site.baseurl}}img/nord/supporter-nord/edu-sharing-logo-1-642x224.png" alt="Logo ©edu-sharing.net" width="auto" height="90px" /></a>
        </div>
      </div>
    </div>
  </div>

  <!-- Anynines -->
  <!-- Desktop Display: max-width, margin-top -->
  <!-- Responsive Displays: Logo ids, margin-bottom -->
  <div class="row">
    <div class="col-lg-4 col-lg-offset-4 col-xs-12">
      <a href="https://www.anynines.com/" target="_blank">
        <img src="{{site.baseurl}}img/westruhr/anynines.png" alt="anynines - The European Cloud Foundry experts" id="anynines" class="img-responsive" style="margin-bottom: 0px; margin-top: 67px; margin-left: auto; margin-right: auto; max-width:80%;" />
      </a>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6 col-lg-offset-3">
      <p>
        Wir danken darüber hinaus IBM und Cisco für ihre großzügige Unterstützung!
      </p>
    </div>
  </div>
</div>

<div id="hosts" class="container-fluid">
  <div class="row">
    <div class="col-lg-10 col-lg-offset-1">
      <header class="subheader"> <!-- subheader-ausrufer -->
        <h2>&nbsp;Veranstalter&nbsp;</h2>
      </header>
    </div>
  </div>
  <div class="row">

  <!-- div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <p><strong class="cdvn-blue">Coding da&nbsp;Vinci Nord</strong> wird veranstaltet von:</p>
    </div>
  </div -->

  <div class="row">
    <div class="col-lg-3 col-lg-offset-1">
      <p>
        <a href="http://kreativgesellschaft.org/" target="_blank">
          <img class="wide" src="{{site.baseurl}}img/nord/logos-2016-hh/LogoHKG_web.svg" alt="Hamburg Kreativ Gesellschaft" width="100%" height="auto" />
        </a>
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-2 col-lg-offset-1">
      <p>
        <a href="http://www.amh.de/" target="_blank">
          <img src="{{site.baseurl}}img/nord/logos-2016-hh/AMH_SHHM_Logo_kl_CMYK.svg" alt="Archäologisches Museum Hamburg" width="100%" height="auto" />
        </a>
      </p>
    </div>
    <div class="col-lg-2">
      <p>
        <a href="http://codeforhamburg.org/" target="_blank">
          <img src="{{site.baseurl}}img/nord/logos-2016-hh/CodeForHamburg.svg" alt="Code for Hamburg" width="100%" height="auto" />
        </a>
      </p>
    </div>
    <div class="col-lg-2">
      <p>
        <img src="{{site.baseurl}}img/nord/logos-2016-hh/Logo_eCulture.info_rot.png" alt="eCulture.info" width="100%"/></p>
      <p>&nbsp;</p>
      <p>
        <a href="http://we-build.city/" target="_blank">
          <img src="{{site.baseurl}}img/nord/logos-2016-hh/wbc_logo.svg" alt="We-Build.City" width="100%"/>
        </a>
      </p>
    </div>
    <div class="col-lg-2">
      <p>
        <a href="http://www.historische-museen-hamburg.de/" target="_blank">
          <img src="{{site.baseurl}}img/nord/logos-2016-hh/SHMH_LOGO_cmyk_ho.jpg" alt="Stiftung Historische Museen Hamburg" width="100%"/>
        </a>
      </p>
      <p>
        <a href="https://de.wikipedia.org/wiki/Wikipedia:Kontor_Hamburg" target="_blank">
          <img src="{{site.baseurl}}img/nord/logos-2016-hh/WikipediaHH.svg" alt="Wikipedia Hamburg (Logo)" width="65%" height="auto" />
        </a>
      </p>
    </div>
    <div class="col-lg-2">
      <p style="text-align: left;"><img src="{{site.baseurl}}img/nord/logos-2016-hh/PS-SHeydenbluth.svg" alt="Projekte&et;Seminare Sabine Heydenbluth" width="50%"/></p>
    </div>
  </div>

</div>
