---
layout: rheinmain
slug: events
slug2: rheinmain
css: true
header: true
header_events: true
---
<div id="events" class="container">
	<div class="row">
		    <div class="col-lg-12">
			<header class="subheader subheader-banderole">
				<h2>CODING DA VINCI <span class="cdvrm-purple">RHEIN-MAIN</span></h2>
			</header>
		    </div>
	</div>
	<!-- VIDEO -->
	<div class="interlude">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2" style="text-align:center">
					<iframe class="widget" src="https://player.vimeo.com/video/271991028" width="640" height="360" frameborder="0" allowfullscreen></iframe>
				</div>
		 </div>
	 </div><br/>
<!-- END VIDEO -->
			<p>Der Kultur-Hackathon <strong class="cdvrm-purple">Coding da Vinci Rhein-Main 2018</strong> nimmt in seiner
regionalen Ausrichtung diesmal die Rhein-Main-Region mit ihren Hochschul- und Universitätsstädten
Aschaffenburg, Darmstadt, Frankfurt/Main, Gießen, Mainz, Offenbach, Wiesbaden und
Worms in den Blick. Mit den Städten und ihrem reichen Umfeld von kulturwissenschaftlichen
Instituten und Bildungseinrichtungen ist die Region ein idealer Standort für eine weitere
Auflage des Kultur-Hackathons.</p>

			<p>Aber warum überhaupt ein Kultur-Hackathon? Museen, Bibliotheken und Archive dieser
Region verfügen gemeinsam über einen wertvollen Schatz: Ihre umfangreichen
Datensammlungen zu den unterschiedlichsten Themen, also unser gemeinsames digitales
Kulturerbe. Der breiten Öffentlichkeit ist dies meistens wenig bekannt. Der Kultur-Hackathon
<strong>Coding da Vinci</strong> eröffnet die Möglichkeit, die Daten kennenzulernen, zu nutzen und damit
neue Verbindung zwischen den Institutionen, ihrem kulturellen Erbe und der Öffentlichkeit
herzustellen.</p>

			<p>Was ist aber ein Kultur-Hackathon und was wird dabei getan? Die Teilnehmer*innen
entwickeln ausgehend von Datensätzen, die die Kultureinrichtungen zur Verfügung stellen,
gemeinsam in kleinen Teams Ideen, die innerhalb von wenigen Wochen bis zum lauffähigen
Prototypen ausgearbeitet werden. Der freie und kreative Umgang mit unserem digitalen
Kulturerbe steht dabei im Fokus. Die spannendsten Anwendungen, die aus diesem Kultur-Hackathon
hervorgehen, werden schließlich in einer Preisverleihung in unterschiedlichen
Kategorien prämiert.</p>

<p><strong class="cdvrm-purple">Coding da Vinci Rhein-Main 2018</strong> wird gemeinschaftlich von dem
	<a href="http://www.mainzed.org/de" target="_blank">mainzed - Mainzer Zentrum für Digitalität in den Geistes- und Kulturwissenschaften</a>,
	der <a href="http://www.ub.uni-mainz.de/" target="_blank">Universitätsbibliothek Mainz</a>,
	der <a href="http://www.adwmainz.de/" target="_blank">Akademie der Wissenschaften und der Literatur Mainz</a>,
	dem <a href="http://www.performing-arts.eu" target="_blank">Fachinformationsdienst Darstellende Kunst</a>,
	der <a href="http://www.deutsche-digitale-bibliothek.de" target="_blank">Deutschen Digitalen Bibliothek</a>,
	der <a href="https://www.ulb.tu-darmstadt.de/" target="_blank">Universitäts- und Landesbibliothek Darmstadt</a>,
	dem <a href="http://www.aschaffenburg.de/Kultur-und-Tourismus/Bibliotheken-und-Archive/Stadt--und-Stiftsarchiv/DE_index_3859.html" target="_blank">Stadt- und Stiftsarchiv der Stadt Aschaffenburg</a>,
	dem <a href="https://www.historisches-museum-frankfurt.de/" target="_blank">Historisches Museum Frankfurt</a>,
	<a href="https://de.wikipedia.org/wiki/Wikipedia:Frankfurt" target="_blank">Wikipedia Frankfurt</a> sowie dem
	<a href="https://nodeforum.org/" target="_blank">NODE Forum for Digital Arts</a>
veranstaltet. Es ist der sechste Kultur-Hackathon der Reihe Coding da Vinci seit ihrer Gründung 2014.</p>

		<section id="Steps" class="steps-section">
		 <div class="steps-timeline">
			 <div class="steps-one">
		     <img class="steps-img" src="{{ site.baseurl }}img/rheinmain/cdv-purple-45x45.png" alt="">
		     <h3 class="steps-name">
		       Onboarding ✔︎
		     </h3>
		     <p class="steps-description">
			18. Juni 2018, 14:00-17:00 Uhr,<br/>
			<a href="https://www.hs-mainz.de/standorte/" target="_blank">Aula Campus Hochschule Mainz Lucy-Hillebrand-Straße 2</a></p>
		   </div>
		   <div class="steps-two">
		     <img class="steps-img" src="{{ site.baseurl }}img/rheinmain/cdv-purple-45x45.png" alt="">
		     <h3 class="steps-name">
		       Kick-Off ✔︎
		     </h3>
		     <p class="steps-description">
			27./28. Oktober 2018<br/>
			Universität Mainz </p>
		   </div>

		   <div class="steps-three">
		     <img class="steps-img" src="{{ site.baseurl }}img/rheinmain/cdv-purple-45x45.png" alt="">
		     <h3 class="steps-name">
		       Sprint

		     </h3>
		     <p class="steps-description">
			5 Wochen, um kooperativ Projekte umzusetzen
		     </p>
		   </div>

		   <div class="steps-four">
		     <img class="steps-img" src="{{ site.baseurl }}img/rheinmain/cdv-purple-45x45.png" alt="">
		     <h3 class="steps-name">
		       Preisverleihung
		     </h3>
		     <p class="steps-description">
				01. Dezember 2018<br/>
				Mainz</p>
		   </div>
		 </div>
	       </section>

				 <!-- VIDEO -->
			 	<div class="interlude">
			 			<div class="row">
			 				<div class="col-lg-8 col-lg-offset-2" style="text-align:center">
			 					<iframe class="widget" src="https://player.vimeo.com/video/274915643" width="640" height="360" frameborder="0" allowfullscreen></iframe>
			 				</div>
			 		 </div>
			 	 </div>
			 <!-- END VIDEO -->

		 <header class="subheader subheader-buch">
			 	<h2>INFORMATIONEN FÜR KULTUREINRICHTUNGEN</h2>
		 </header>

		 <p>Museen, Bibliotheken und Archive aus dem Rhein-Main-Gebiet und darüber hinaus, die an einem offenen und
			 kreativen Umgang mit ihren Datensammlungen interessiert sind, sind aufgerufen, an
			 <strong class="cdvrm-purple">Coding da Vinci Rhein-Main 2018</strong> teilzunehmen. Der Kultur-Hackathon
			 bietet eine spannende Gelegenheit, neue Zugänge zum digitalen Kulturerbe zu entwickeln und umzusetzen.</p>

		<p>Ihre Einrichtung möchte an <strong class="cdvrm-purple">Coding da Vinci Rhein-Main 2018</strong> teilnehmen?
			Dann kontaktieren Sie uns unter <a href="mailto:cdvrhein-main@ub.uni-mainz.de">cdvrhein-main@ub.uni-mainz.de</a>.
			Wenn Sie mehr erfahren möchten, wie Sie Daten bereitstellen und präsentieren können, werfen Sie einen Blick in unsere <a href="{{ site.baseurl }}downloads/rheinmain/Infobroschuere_Datengeber.pdf">weiterführenden Informationen für Kulturinstitutionen</a>.
			Wir freuen uns über Ihr Interesse am Kultur-Hackathon.</p>

  <header class="subheader subheader-haende">
		<h2>INFORMATIONEN FÜR TEILNEHMENDE</h2>
	</header>

	<p>Diesen Herbst laden wir Interessierte, die Kultur lieben, Code schreiben, Apps designen,
Hardware basteln, Ideen entwickeln und umsetzen wollen, ein, freien Kulturdaten neues Leben einzuhauchen.</p>

	<p>Wenn Ihr an <strong class="cdvrm-purple">Coding da Vinci Rhein-Main 2018</strong> teilnehmt, bildet Ihr Teams und
verwendet für Euer Projekt <strong>mindestens einen Datensatz</strong> unserer datengebenden
Kulturinstitutionen. Alle Ergebnisse des Kultur-Hackathons – vom Quellcode bis zu Bildern –
werden wieder unter freien Lizenzen (Open Source bzw. Open Definition) der breiten Öffentlichkeit
zur Nachnutzung zur Verfügung gestellt.</p>

	<p>Wir freuen uns auf viele Begeisterte, die Spaß an Kultur und Technik mitbringen und mit ihren Projekten Kulturdaten
		neudenken. Für mehr Informationen für die Teilnahme an Coding da Vinci Rhein-Main tragt euch auf unserer <a href="http://eepurl.com/dDhATH" target="_blank"> Mailingliste </a> ein. </p>

	<!-- <p>Wenn Sie jetzt die Neugierde gepackt hat, dann melden Sie sich einfach für die Teilnahme
am Kick-Off- Wochenende und die spätere Preisverleihung an, damit wir genug Platz für alle
Kulturbegeisterten haben und auch für Ihr leibliches Wohl sorgen können.</p>

	<p>Melden Sie sich jetzt an und werden Sie Teil von <strong class="cdvrm-purple">Coding da Vinci Rhein-Main 2018</strong>.</p> -->

	<header class="subheader subheader-uhr">
		<h2>PROGRAMM</h2>
		</header>
	<p>Am 27. und 28. Oktober findet ein Kick-off in der <a href="https://www.uni-mainz.de/" target="_blank">Universität Mainz</a> (Alte Mensa, Johann-Joachim-Becher-Weg 5, 55128 Mainz)) statt.
	Die aktiven Teilnehmer werden sich an diesem Wochenende zu Teams zusammenfinden, die dann in einer fünfwöchigen Sprint-Phase Ideen für mobile Apps, Webseiten, Datenvisualisierungen, Spiele und interaktive Installationen praktisch umsetzen. In einer großen Abschlussveranstaltung am 01. Dezember werden die Ergebnisse der Öffentlichkeit vorgestellt. Unsere Jury wird besonders herausragende Projekte prämieren.
	</p>

	<div class="container" id="schedule">
			{% assign program = site.data.program_rm[0] %}

			<div class="row">
			  <div class="col-lg-5 col-lg-offset-1">
				<div class="programheader">
				  <h2>{{ program.header }}</h2>
				</div>


				<table class="table">
				  <thead>
					<tr>
					  <td class="head" colspan="2">{{ program.title }}</td>
					</tr>
				  </thead>

				  {% for entry in program.entries %}
				  <tr>
					<td>{{ entry.date | date:"%H:%M"}}</td>
					<td>{{ entry.content }}</td>
				  </tr>
				  {% endfor %}
				</table>

				{% assign program = site.data.program_rm[1] %}
				<table class="table">
				  <thead>
					<tr>
					  <td class="head" colspan="2">{{ program.title }}</td>
					</tr>
				  </thead>

				  {% for entry in program.entries %}
				  <tr>
					<td>{{ entry.date | date:"%H:%M"}}</td>
					<td>{{ entry.content }}</td>
				  </tr>
				  {% endfor %}
				</table>
			  </div>

			  <div class="col-lg-5">
				{% assign program = site.data.program_rm[2] %}
				<div class="programheader">
				  <h2>{{ program.header }}</h2>
				</div>
				<table class="table">
				  <thead>
					<tr>
					  <td colspan="2" class="head">{{ program.title }}</td>
					</tr>
				  </thead>
				  <tr>
					<td>
						<img src="{{ program.image}}" alt="Sprint" />
					</td>
				  </tr>
				  {% for entry in program.entries %}
				  <tr>
					<td>{{ entry.content }}</td>
				  </tr>
				  {% endfor %}

				</table>

				{% assign program = site.data.program_rm[3] %}
				<div class="programheader">
						<h2>{{ program.header }}</h2>
				</div>
				<table class="table">
				  <thead>
					<tr>
					  <td class="head" colspan="2">{{ program.title }}</td>
					</tr>
				  </thead>

				  {% for entry in program.entries %}
				  <tr>
					<td>{{ entry.date | date:"%H:%M"}}</td>
					<td>{{ entry.content }}</td>
				  </tr>
				  {% endfor %}
				</table>

			  </div>
			</div>

	<header class="subheader subheader-uhr">
	 <h2>ROADSHOW</h2>
	</header>
	<p>Wir sind unterwegs, um Coding da Vinci Rhein-Main bei verschiedenen Communities vorzustellen.</p>
	<details>
	 <summary><strong>Vergangene Roadshow Termine</strong></summary>
	 <div class="row">
		 <div class="col-lg-12">
			 <table class="table">
				 <thead>
					 <tr>
						 <td class="head" colspan="3">Vergangene Termine</td>
					 </tr>
				 </thead>
				 <tr>
					 <td class="tdDate">09. Mai 2018</td>
					 <td class="tdDate">17:00 Uhr</td>
					 <td>Abschlussveranstaltung, 1. Mainzer Science Week<br>Museum für Antike Schiffahrt, Mainz<br><a href="https://www.mainz.de/microsite/wissenimherzen/wissenschafts-events/mainzer-science-week.php" target="_blank">Weitere Informationen</a></td>
				 </tr>
				 <tr>
					 <td class="tdDate">07. Juni 2018</td>
					 <td class="tdDate">19:00 Uhr</td>
					 <td>Digital. Hacken. Kultur?<br>Digitales Gründerzentrum bayerischer Untermain, Aschaffenburg<br><a href="http://stadtarchiv-aschaffenburg.de/digital-hacken-kultur-7-juni-2018" target="_blank">Weitere Informationen</a></td>
				 </tr>
				 <tr>
					 <td class="tdDate">13. Juni 2018</td>
					 <td class="tdDate">9:00 Uhr</td>
					 <td>Aktionstag Forschungsdaten<br>JGU Mainz</td>
				 </tr>
				 <tr>
					 <td class="tdDate">14. Juni 2018</td>
					 <td class="tdDate">18:30 Uhr</td>
					 <td>Podiumsdiskussion Kulturpolitische Gesellschaft<br>Mousonturm, Frankfurt am Main</td>
				 </tr>
				 <tr>
					 <td class="tdDate">09. Juli 2018</td>
					 <td class="tdDate">19:30 Uhr</td>
					 <td>Webmontag Frankfurt<br>Brotfabrik, Hausen<br><a href="https://wmfra.de/webmontag-frankfurt-93-kultur-digital/" target="_blank">Weitere Informationen</a></td>
				 </tr>
				 <tr>
					 <td class="tdDate">21. August 2018</td>
					 <td class="tdDate">17:30 Uhr</td>
					 <td>CODING DA VINCI - Open Data, Open Minds<br>Deutsche Nationalbibliothek<br><a href="http://stadtarchiv-aschaffenburg.de/ankuendigung-coding-da-vinci-open-data-open-minds-21-8-2018" target="_blank">Weitere Informationen</a></td>
				 </tr>
				 <tr>
					 <td class="tdDate">08./09. September 2018</td>
					 <td class="tdDate">10-18 Uhr<br>11-18 Uhr</td>
					 <td>Mainzer Wissenschaftsmarkt<br>Infozelt in der Ludwigstraße, Mainz<br><a href="https://www.wissenschaftsallianz-mainz.de/wissenschaftsmarkt/2018/" target="_blank">Weitere Informationen</a></td>
				 </tr>
				 <tr>
					 <td class="tdDate">23. September 2018</td>
					 <td class="tdDate">10-17 Uhr</td>
					 <td>Lucas Filmfestival<br>Deutsches Filminsitut, Frankfurt am Main<br><a href="http://lucas-filmfestival.de" target="_blank">Weitere Informationen</a></td>
				 </tr>
				 <tr>
					 <td class="tdDate">12. Oktober 2018</td>
					 <td class="tdDate">10-11 Uhr</td>
					 <td>TheARTS+ Runway<br>Frankfurter Buchmesse, Frankfurt am Main<br><a href="https://theartsplus.com/" target="_blank">Weitere Informationen</a></td>
				 </tr>
			 </table>
			 </div>
		 </div>
	 </details>
	 <div class="row">
		 <div class="col-lg-12">
			 <table class="table">
				 <thead>
					 <tr>
						 <td class="head" colspan="3">Aktuelle Termine</td>
					 </tr>
				 </thead>
				 <tr>
					 <td class="tdDate">15. Oktober 2018</td>
					 <td class="tdDate">20-22 Uhr</td>
					 <td>Open Data / OK Lab Frankfurt<br>Die Zentrale, Berger Straße 175, Frankfurt am Main<br><a href="https://www.meetup.com/de-DE/OKLabFfm/events/245260493/" target="_blank">Weitere Informationen</a></td>
				 </tr>
				 <tr>
					 <td class="tdDate">20. Oktober 2018</td>
					 <td class="tdDate">11-16 Uhr</td>
					 <td>Hacktoberfest 2018 - CCC Darmstadt e.V.<br>Wilhelminenstraße, 64283 Darmstadt<br><a href="https://www.chaos-darmstadt.de/2018/hacktoberfest.html" target="_blank">Weitere Informationen</a></td>
				 </tr>
			 </table>
			 </div>
		 </div>

	<header class="subheader subheader-haende">
		<h2>UNTERSTÜTZER GESUCHT</h2>
	</header>

	<p><strong class="cdvrm-purple">Coding da Vinci Rhein-Main</strong> - Machen Sie es möglich!</p>

	<p>Wir brauchen starke und engagierte Partner, damit Coding da Vinci zum Erlebnis wird! Denn gute Ideen
		brauchen bekanntlich gute Unterstützung. Treffen Sie die Community an der Schnittstelle von Kultur,
		Coding und Design und machen Sie die Veranstaltung auch zu Ihrer Kommunikations- und Kontaktplattform.
		Informationen zu unseren Sponsoring-Paketen und weiteren Unterstützungsmöglichkeiten finden Sie
		<a href="{{ site.baseurl }}downloads/rheinmain/2018_cdv_rm_Infoblatt_Sponsoren.pdf">hier</a>.

</p>

	<p>Seien Sie mit dabei, wenn Kultur und Code sich treffen werden Sie Teil von <strong class="cdvrm-purple">Coding da Vinci Rhein-Main</strong>!
</p>

	<div id="hosts" class="container-fluid">
		<header class="subheader subheader-ausrufer"> <!-- subheader-ausrufer -->
			<h2>Veranstalter</h2>
		</header>

		<div class="row row-centered row-cl logos">

			<div class="col-lg-4 col-xs-8">
					<a href="http://www.mainzed.org/de" target="_blank">
					<img src="{{site.baseurl}}img/rheinmain/organizer/mainzedlogo.png" class="img-responsive" alt="mainzed" />
					</a>
			</div>

			<div class="col-lg-4 col-xs-8">
					<a href="http://www.adwmainz.de/" target="_blank">
					<img src="{{site.baseurl}}img/rheinmain/organizer/logo-schwarz_schrift.jpg" class="img-responsive" alt="Akademie der Wissenschaften und der Literatur Mainz" />
					</a>
			</div>

			<div class="col-lg-4 col-xs-8">
					<a href="https://www.ub.uni-mainz.de" target="_blank">
					<img src="{{site.baseurl}}img/rheinmain/organizer/UB-Logo_mit_JGU_RGB_transparenterBG_72dpi_2000x453px.png" class="img-responsive" alt="Universitätsbibliothek Mainz" />
					</a>
			</div>

			<div class="col-lg-4 col-xs-8">
					<a href="https://www.ulb.tu-darmstadt.de/" target="_blank">
					<img src="{{site.baseurl}}img/rheinmain/organizer/Logo_ULB.png" class="img-responsive" alt="Universitäts- und Landesbibliothek Darmstadt"/>
					</a>
			</div>

		</div>

		<div class="row row-centered row-cl logos">

			<div class="col-lg-3 col-lg-offset-1 col-xs-8">
					<a href="http://www.deutsche-digitale-bibliothek.de" target="_blank">
					<img src="{{site.baseurl}}img/logos/ddb.png" class="img-responsive" alt="Deutsche Digitale Bibliothek"/>
					</a>
			</div>

			<div class="col-lg-3 col-xs-8">
					<a href="https://www.historisches-museum-frankfurt.de/" target="_blank">
					<img src="{{site.baseurl}}img/rheinmain/organizer/HMF_Logo_horizontal_cmyk_10.jpg" class="img-responsive" alt="Historisches Museum Frankfurt" />
					</a>
			</div>

			<div class="col-lg-3 col-xs-8" id="aschaffenburg">
					<a href="http://www.aschaffenburg.de/Kultur-und-Tourismus/Bibliotheken-und-Archive/Stadt--und-Stiftsarchiv/DE_index_3859.html" target="_blank">
					<img src="{{site.baseurl}}img/rheinmain/organizer/Aschaffenburg_Logo.jpg" class="img-responsive" alt="Stadt- und Stiftsarchiv Aschaffenburg" />
					</a>
			</div>
		</div>

		<div class="row row-centered row-cl logos">

			<div class="col-lg-3 col-lg-offset-1 col-xs-8">
					<a href="http://www.performing-arts.eu/" target="_blank">
					<img src="{{site.baseurl}}img/rheinmain/organizer/fiddk_logo.png" alt="Fachinformationsdienst Darstellende Kunst"  class="img-responsive" />
					</a>
			</div>

			<div class="col-lg-3 col-xs-8">
					<a href="https://nodeforum.org/" target="_blank">
					<img src="{{site.baseurl}}img/rheinmain/organizer/NODE-SW.png" class="img-responsive" alt="NODE Forum for Digital Arts" />
					</a>
			</div>

			<div class="col-lg-3 col-xs-8">
					<a href="https://wikimedia.de/" target="_blank">
					<img src="{{site.baseurl}}img/rheinmain/organizer/Wikipedia_Frankfurt_transparent.png" class="img-responsive" alt="Wikipedia Frankfurt" />
					</a>
			</div>

		</div>

	</div>

	<div id="sponsor" class="container-fluid">
		<header class="subheader">
			<h2>Unterstützer</h2>
		</header>

		<div class="row row-centered row-cl logos">

      <div class="col-lg-3 col-lg-offset-1 col-xs-8">
					<a href="https://www.hs-mainz.de/" target="_blank">
					<img src="{{site.baseurl}}img/rheinmain/supporter/HSM_Logo_V_blau_rgb.jpg" class="img-responsive" alt="Hochschule Mainz" />
					</a>
			</div>

			<div class="col-lg-3 col-xs-8">
					<a href="http://www.landesmuseum-mainz.de/" target="_blank">
					<img src="{{site.baseurl}}img/rheinmain/supporter/GDKE_LMM_4C_LZ.jpg" class="img-responsive" alt="Landesmuseum Mainz" />
					</a>
			</div>

			<div class="col-lg-3 col-xs-8">
					<img src="{{site.baseurl}}img/rheinmain/supporter/logo_kunzmann_schwarz_gross.png" class="img-responsive" alt="Kunzmann - Die neue Service Dimension" />
			</div>

		</div>

		<div class="row row-centered row-cl logos">

			<div class="col-lg-3 col-lg-offset-2 col-xs-8">
				<a href="https://gi.de" target="_blank">
					<img src="{{site.baseurl}}img/rheinmain/supporter/GI_Logo_rechts.png" class="img-responsive" alt="Gesellschaft für Informatik" />
        </a>
			</div>

			<div class="col-lg-3 col-xs-8">
				<a href="https://www.anynines.com/de" target="_blank">
					<img src="{{site.baseurl}}img/rheinmain/supporter/anynines_Logo.png" class="img-responsive" alt="Kunzmann - Die neue Service Dimension" />
        </a>
			</div>

		</div>
	</div>

</div>
