---
layout: default
slug: news
---
<div id="news" class="container">
	<header class="subheader ">
      <h2>News</h2>
    </header>
	<div class="row">
	  	<div class="col-lg-8 col-lg-offset-2">
	  		<div class="row">
	  		
	  		{% if paginator.page == 1 %} 
	  			{% include post_big.html post=site.posts.first %}
	  			{% for post in paginator.posts offset:1 %}
			    	{% include post_normal.html post=post %}
		    	{% endfor %}
	  		{% else %}
	  			{% for post in paginator.posts offset:0 %}
			    	{% include post_normal.html post=post %}
		    	{% endfor %}
	  		{% endif %}
			
	  		</div>
	  	</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			{% if paginator.previous_page %}
			<a href="{{ paginator.previous_page_path }}">&lt;&lt; Vorherige Seite</a>
			{% endif %}
			{% if paginator.next_page %}
			<a href="{{ paginator.next_page_path }}" class="pull-right">Nächste Seite &gt;&gt;</a>
			{% endif %}	
		</div>
	</div>

</div>

