---
layout: default
slug: news
---
<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<header class="subheader subheader-uhr">
			<h2>News</h2>
		</header>
		<p class="text-center">
			<a href="{{ site.baseurl_root }}/atom.xml"><span class="glyph rss-glyph"></span>mit dem Feedreader abonnieren</a>
		</p>
	</div>
</div>
<div class="row">
  	<div class="col-md-8 col-md-offset-2">
		{% for post in paginator.posts %}
		    {% include post_normal.html post=post %}
	    	
		{% endfor %}
	</div>
</div>
