{% assign stimmen=include.person %}
<div class="row" id="{{ stimmen.name | slugify | uri_escape }}">
    <div class="col-md-4 col-xs-12">
        <div class="box person-image" style="background-image:url('{{ site.baseurl }}img/stimmen/{{ person.img }}.jpg')">
        </div>
    </div>
    <div class="col-xs">
        <div class="box box-inner">
            <h3>{{ stimmen.name }}</h3>
            {{ stimmen.institute }} <br/>
            {{ stimmen.quote }} <br/>
            {{ stimmen.date }}<br/>
        </div>
    </div>
</div>