{% assign post = include.post %}
<div class="row post-normal row-flex">
	<div class="col-md-4 col-flex col-flex-centerv">
		<div class="row">
			<div class="col-md-12 post-meta">
				<div class="post-image">
					<a href="{{ post.url }}"><img src="{{post.image.src}}" class="img-responsive" alt="{{page.image.alt}}"	/></a>
				</div>
				<div class="post-subscription">
					<div class="post-date">
						{{ post.date | date:"%d.%m.%Y" }}
					</div>
					<div class="post-author">
						von {{ post.author }}
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-8 post-content">
		<a href="{{ post.url }}"><h2>{{ post.title }}</h2></a>
		<div class="tags">
			<!--{% for tag in post.tags %}-->
				<!--<a href="/"><span class="badge">{{ tag }}</span></a>-->
			<!--{% endfor %}-->
		</div>
		<div class="">
			{{ post.excerpt | strip_html | truncatewords:30}}<br>
		</div>

		<div class="post-more">
			<a href="{{ post.url }}">weiterlesen</a><br><br>
		</div>
	</div>
</div>
