<div class="row">
		<header class="subheader subheader-preis">
			<h2>Preise</h2>
		</header>
	<div class="row additional-text">
		<p>
			Alle Team-Projekte werden nach 5 Kategorien: “most technical”, “most useful”, “best
        design”, “funniest hack” und “out of competition” bewertet. Das Publikum wird gebeten, ein Lieblingsprojekt im Rahmen eines Publikumpreises zu nominieren.
		</p>
		{% for price in site.data.prices %}
		    <div class="col-lg-2 col-md-2 col-sm-3 prizes-profile">
		      <div>
		        <img src="{{ site.baseurl }}{{ price.image }}" alt="" class="img-responsive"/>
		      </div>
		      <h5></h5>
		      <p>{{ price.description }}</p>
		    </div>
		 {% endfor %}
	</div>
</div>