---
layout: default
slug: unterstuetzer
---

<div class="container">
  <header id="2014aktuelles" class="subheader">
    <h2>Kulturgut digital nutzbar machen</h2>
  </header>

  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        
      <p>
        <strong>Coding da Vinci</strong> vernetzt die Kultur- und Technikwelt miteinander und setzt sich dafür ein, dass Digitalisate von Kulturinstitutionen für alle frei zugänglich und nutzbar sind. Wir wollen mit unserer Arbeit das technische Potenzial digitaler Kulturdaten entdecken.
      </p>
      <p>
        Nach zwei Jahren hat sich der Kultur-Hackathon in Deutschland und Europa einen Namen gemacht. Aufgrund der großen Nachfrage vonseiten der Kulturerbeinstitutionen und der technikbegeisterten Community entwickelt das Gründerteam von <strong>Coding da Vinci</strong> ein weiterführendes Projektkonzept. Der bundesweite <strong>Coding da Vinci</strong> Kultur-Hackathon wird als überregionales Projekt ab 2017 wieder stattfinden.

        Für die Weiterentwicklung von <strong>Coding da Vinci</strong> sind wir erneut auf der Suche nach Freunden, Förderern und Partnern. Wir freuen uns auf eine Mail an <a href="mailto:helene.hahn@okfn.de">Helene Hahn, Projektleiterin Coding da Vinci</a>
      </p>

<!--
      <p>
        </br><strong>Wir bedanken uns bei:</strong>
      </p>
      <p>
        Unterstützer:
      </p>
      <div class="sponsor-container">
        {% for supporter in site.data.supporter %}
          {% if supporter.role == 1 %}
          <figure class="sponsor">
            <img src="{{ supporter.image }}" />
            <figcaption>{{ supporter.links }}</figcaption>
          </figure>
          {% endif %}
        {% endfor %}
      </div>
      <p class="sponser-header">
        Sponsoren:
      </p>
      <div class="sponsor-container">
        {% for supporter in site.data.supporter %}
          {% if supporter.role == 2 %}
          <div class="sponsor">
            <img src="{{ supporter.image }}" />
            <figcaption>{{ supporter.links }}</figcaption>
          </div>
          {% endif %}
        {% endfor %}
      </div>
      <p class="sponser-header">
        Hochschulpartner:
      </p>
      <div class="sponsor-container">
        {% for supporter in site.data.supporter %}
          {% if supporter.role == 3 %}
          <figure class="sponsor">
            <img src="{{ supporter.image }}" />
            <figcaption>{{ supporter.links }}</figcaption>
          </figure>
          {% endif %}
        {% endfor %}
      </div>
     
        <p>
        Die hier genannten Partner und Organisationen unterstützen Coding da Vinci zum Teil schon das zweite Jahr und setzen sich mit uns für die freie Wissensvermittlung, kulturelle Bildung und innovative Kulturprojekte ein. 
        </p>
         <p>
          Für die ideelle und finanzielle Unterstützung möchten wir uns herzlich bedanken!
        </p>
-->
      <p class="paragraph">
        <strong class="cdv">Coding da Vinci</strong> - Der Kultur-Hackathon ist ein Gemeinschaftsprojekt der <a href="https://www.deutsche-digitale-bibliothek.de/">Deutschen Digitalen Bibliothek</a>, der <a href="http://okfn.de/">Open Knowledge Foundation Deutschland</a>,  der <a href="http://www.servicestelle-digitalisierung.de">Servicestelle Digitalisierung Berlin</a> und <a href="http://wikimedia.de/wiki/Hauptseite">Wikimedia Deutschland</a>.
      </p>
    </div>
  </div>
</div>
<!-- END Ergebnisse und Rückblick -->

<!-- 
<div class="container">
  <header id="2014aktuelles" class="subheader">
    <h2>Gefördert durch</h2>
  </header>

  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <p>
  		TEXT
      </p>
    </div>
  </div>
</div>

<div class="container">
  <header id="2014aktuelles" class="subheader">
    <h2>Unterstützer</h2>
  </header>

  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <p>
  		TEXT
      </p>
    </div>
  </div>
</div>
-->
