---
---
.logo-container-berlin {
  background: url('/img/berlin/header_logo_2017.png') top center no-repeat;
  width: 455px;
  height: 265px;
  padding-top: 180px;
  padding-bottom: 14px; 
  margin: 0 auto;
  z-index: 99;
  -webkit-transform: translate3d(0px, 0px, 0px);
  transform: translate3d(0px, 0px, 0px);
  font-size: 40pt;
  font-family: Archive;
}


