---
---
//Colors
$cdvo-red: #ff0030; //old: D8413E

.cdvo-red {
  color: $cdvo-red;
}

.logo-container {
background: url('/img/ost/header_logo_2018.png') top center no-repeat;
  width: auto;
  padding-top: 180px;
  padding-bottom: 14px; 
  margin: 0 auto;
  z-index: 1099;
  -webkit-transform: translate3d(0px, 0px, 0px);
  transform: translate3d(0px, 0px, 0px);
  font-size: 25pt;
  font-family: Archive;
}

a,a:link,a:hover,a:visited{color:$cdvo-red}

a.scroll-hint {
  color: $cdvo-red;
}

@keyframes pulse {
  0% {
    color: $cdvo-red;
  }

  100% {
    color: black;
  }
}

.caption-text{font-size:75%}

.table .head {
  background: $cdvo-red
}

.table {
  background-image: linear-gradient(180deg, #ffafbe 0%, #ffafbe 100%);
}

.btn-events, .btn-events:link, .btn-events:hover, .btn-events:visited {
  font-family: Archive;
  font-size: 125%;
  color: white;
  background-color: $cdvo-red;
  border-color: #D8413E;
}

summary::-webkit-details-marker {
  display: none
}

summary:after {
  content: "+";
  float: left;
  margin-right: 5px;
}

details[open] summary:after {
  content: "-";
}

summary {
  cursor: pointer
}