---
---
//Colors
$cdvo-red: #D8413E;
$cdvo-dark-red: #B02F2C;

.cdvo-red {
  color: $cdvo-red;
}

.logo-container {
background: url('/img/ost/header_logo_2018.png') top center no-repeat;
  width: auto;
  padding-top: 180px;
  padding-bottom: 14px; 
  margin: 0 auto;
  z-index: 1099;
  -webkit-transform: translate3d(0px, 0px, 0px);
  transform: translate3d(0px, 0px, 0px);
  font-size: 25pt;
  font-family: Archive;
}

a,a:link,a:hover,a:visited{color:$cdvo-red}

a.scroll-hint {
  color: $cdvo-red;
}

@keyframes pulse {
  0% {
    color: $cdvo-red;
  }

  100% {
    color: black;
  }
}

.caption-text{font-size:75%}