---
---
//Colors
$cdvn-red: #D8413E;
$cdvn-dark-red: #B02F2C;

.cdvn-blue {
  color: $cdvn-red;
}

.logo-container {
background: url('/img/ost/header_logo_2018.png') top center no-repeat;
  width: auto;
  padding-top: 180px;
  padding-bottom: 14px; 
  margin: 0 auto;
  z-index: 1099;
  -webkit-transform: translate3d(0px, 0px, 0px);
  transform: translate3d(0px, 0px, 0px);
  font-size: 25pt;
  font-family: Archive;
}

.logo-container-events-ost {
  @extend .logo-container;
  background: url('/img/ost/header_logo_2018.png') top center no-repeat;
  background-size: 100% auto;
  font-size: 1.5em;
  font-family: Archive;
  z-index: 99;
  width: auto;
}