<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="utf-8">
    <title>Coding Da Vinci</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ site.baseurl }}css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ site.baseurl }}css/codingdavinci.css" rel="stylesheet">
    <!--[if IE ]>
      <style type="text/css" media="screen">
        .tiles {
          display: none
        }
      </style>
    <![endif]-->
    <link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,700' rel='stylesheet' type='text/css'>
    <link rel="shortcut icon" href="{{ site.baseurl }}img/favicon.ico">
    <link rel="apple-touch-icon" sizes="57x57" href="{{ site.baseurl }}img/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ site.baseurl }}img/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ site.baseurl }}img/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ site.baseurl }}img/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ site.baseurl }}img/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ site.baseurl }}img/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ site.baseurl }}img/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ site.baseurl }}img/apple-touch-icon-152x152.png">
    <link rel="icon" type="image/png" href="{{ site.baseurl }}img/favicon-196x196.png" sizes="196x196">
    <link rel="icon" type="image/png" href="{{ site.baseurl }}img/favicon-160x160.png" sizes="160x160">
    <link rel="icon" type="image/png" href="{{ site.baseurl }}img/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="{{ site.baseurl }}img/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="{{ site.baseurl }}img/favicon-32x32.png" sizes="32x32">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-TileImage" content="{{ site.baseurl }}img/mstile-144x144.png">
    <meta name="msapplication-square70x70logo" content="{{ site.baseurl }}img/mstile-70x70.png">
    <meta name="msapplication-square144x144logo" content="{{ site.baseurl }}img/mstile-144x144.png">
    <meta name="msapplication-square150x150logo" content="{{ site.baseurl }}img/mstile-150x150.png">
    <meta name="msapplication-square310x310logo" content="{{ site.baseurl }}img/mstile-310x310.png">
    <meta name="msapplication-wide310x150logo" content="{{ site.baseurl }}img/mstile-310x150.png">

    <meta name="description" content="Coding Da Vinci - der Kultur-Hackathon">
    <meta name="author" content="Open Knowledge Foundation Deutschland (OKF De)">
  </head>

  <body>
    {% if page.header %}
    <header class="header">
      <div class="tiles">
      </div>
      <div class="container header-container">
        <div class="logo-container">
          <div class="logo-text">
            <h1 class="sr-only">Coding Da Vinci</h1>
            <p>
              Der Kultur-Hackathon<br/>
              26./27. April – 5./6. Juli 2014
            </p>
          </div>
        </div>

        <a class="main-signup" href="{{ site.registerurl }}">
          Jetzt für den 6.7. anmelden
        </a>

        <a class="smooth-scroll scroll-hint" href="#inhalt">&#9660; &#9660; &#9660; &#9660;</a>
      </div>
    </header>
    {% endif %}
    <div class="background {% if page.header %} header-above{% endif %}">
    <div class="container-fluid nav-container" id="inhalt">
      <nav class="navbar navbar-davinci" role="navigation">
        <div class="navbar-header">
          <a class="navbar-brand" href="{{ site.baseurl }}">
            <img src="{{ site.baseurl }}img/nav-logo.png" alt="Coding Da Vinci"/>
          </a>
        </div>

        <ul class="nav navbar-nav navbar-right">
          <li class="separator {% if page.slug == "info" %}active{% endif %}">
            <a href="{{ site.baseurl }}info/">Info</a>
          </li>
          <li class="separator {% if page.slug == "daten" %}active{% endif %}">
            <a href="{{ site.baseurl }}daten/">Daten</a>
          </li>
          <li class="separator {% if page.slug == "programm" %}active{% endif %}">
            <a href="{{ site.baseurl }}programm/">Programm</a>
          </li>
          <li class="separator {% if page.slug == "projekte" %}active{% endif %}">
            <a href="{{ site.baseurl }}projekte/">Projekte</a>
          </li>
          <li class="separator {% if page.slug == "partner" %}active{% endif %}">
            <a href="{{ site.baseurl }}partner/">Partner</a>
          </li>
          <li class="separator {% if page.slug == "presse" %}active{% endif %}">
            <a href="{{ site.baseurl }}presse/">Presse</a>
          </li>
          <li class="{% if page.slug == "faq" %}active{% endif %}">
            <a href="{{ site.baseurl }}faq/">FAQ</a>
          </li>
          <li class="image-menu-link">
            <a class="twitter" href="https://twitter.com/codingdavinci">
              <span class="sr-only">Twitter</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="container">

      {{ content }}

    </div>
    <footer id="impressum" class="footer">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-5 col-sm-6 col-lg-push-6 col-md-push-7 col-sm-push-6 logos">
            <h5>Ein Projekt von</h5>
            <img src="{{ site.baseurl }}img/logos/ddb.png" alt="Deutsche Digitale Bibliothek" class="img-responsive"/>
            <img src="{{ site.baseurl }}img/logos/digis.png" alt="Digis Servicestelle Digitalisierung" class="img-responsive"/>
            <img src="{{ site.baseurl }}img/logos/okfn.png" alt="Open Knowledge Foundation Deutschland" class="img-responsive"/>
            <img src="{{ site.baseurl }}img/logos/wikimedia.png" alt="Wikimedia Deutschland" class="img-responsive"/>
          </div>
          <div class="col-lg-4 col-lg-offset-2 col-md-5 col-md-offset-1 col-sm-6 col-lg-pull-4 col-md-pull-5 col-sm-pull-6">
            <h5><a href="{{ site.baseurl }}kontakt/">Kontakt</a></h5>
            <h5><a href="http://www.okfn.de/impressum/">Impressum</a></h5>
            <p>
              Open Knowledge Foundation Deutschland e.V.<br/>
              Singerstr. 109, 10179 Berlin<br/>
              www.okfn.de<br/>
              info@okfn.de<br/>
              Tel: +49 30 57703666 2<br/>
              Fax: +49 30 57703666 9
            </p>
            <h5>Credits</h5>
            <p>
              Design: <a href="http://fuklab.org/">FUK Graphic Design Studio</a><br/>
              Umsetzung: <a href="http://stefanwehrmeyer.com/">Stefan Wehrmeyer</a><br/>
              Font "Archive" von <a href="http://fontfabric.com/">Svetoslav Simov/Fontfabric</a>
            </p>
            <p>
              Alle Textinhalte sind unter <a href="https://creativecommons.org/licenses/by/3.0/">CC-By 3.0</a> lizenziert.
            </p>
          </div>
        </div>
      </div>
    </footer>
    </div>
    <script src="{{ site.baseurl }}js/jquery-1.11.0.min.js"></script>
    <script src="{{ site.baseurl }}js/bootstrap.min.js"></script>
    <script src="{{ site.baseurl }}js/codingdavinci.js"></script>

    <!-- Piwik -->
    <script type="text/javascript">
      var _paq = _paq || [];
      _paq.push(["trackPageView"]);
      _paq.push(["enableLinkTracking"]);

      (function() {
        var u="https://fragdenstaat.de/piwik/";
        _paq.push(["setTrackerUrl", u+"piwik.php"]);
        _paq.push(["setSiteId", "3"]);
        var d=document, g=d.createElement("script"), s=d.getElementsByTagName("script")[0]; g.type="text/javascript";
        g.defer=true; g.async=true; g.src=u+"piwik.js"; s.parentNode.insertBefore(g,s);
      })();
    </script>
    <!-- End Piwik Code -->

  </body>
</html>
