---
layout: default
---
<div class="container" id="programm">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 blogpost">
            <h1>{{ page.title }}</h1>
            <div class="post-subscription-left">
                <div class="post-date">
                    von {{page.author}} am {{ page.date | date:"%-d.%m.%Y" }}
                </div>
            </div>
            <div class="blog-image">
                <img src="{{page.image}}" class="img-responsive" style="" alt="">
                <p class="image-attribution">{{page.image-attribution}}</p>
            </div>


            <div class="">
                {{ content }}
            </div>
        </div>
    </div>
</div>
