---
layout: default
---

<div class="row">
    <div class="col-md-8 col-md-offset-2 blogpost">
        <header class="subheader">
            <h2>{{page.title}}</h2>
        </header>
        <div class="post-subscription-left">
            <div class="post-date text-center">
                von {{page.author}} am {{ page.date | date:"%d.%m.%Y" }}
            </div>
        </div>
        <div class="blog-image">
            <img src="{{page.image.src}}" class="img-responsive" style="" alt="">
            <p class="image-caption">{{page.image.license}}</p>
        </div>
        <div class="">
            {{ content }}
        </div>
    </div>
</div>
