---
layout: default
slug: events
css: cdvnord.css
header: true
header_nord: true
---

<div id="events-intro" class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <header id="cdvn" class="subheader subheader-banderole">
        <h2>&nbsp;Coding da Vinci <span class="cdvn-blue">Nord</span>&nbsp;</h2>
      </header>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 col-lg-offset-3">
      <p>
      Mit <strong>über 100 Teilnehmer*innen</strong> aus Softwareentwicklung, Design und Geisteswissenschaften, und aus <strong>19 teilnehmenden Kulturinstitutionen aus dem Norden Deutschlands, aus Aarhus und  Stockholm</strong>, ist Coding da Vinci Nord am 17. und 18. September in Hamburg fulminant gestartet.
      </p>
      <p>
      <strong>17 Teams</strong> haben sich bei diesem Kick-Off gefunden. Sie sind jetzt dabei, ihre Projektideen bis zu ihrer öffentlichen Vorstellung bei der <strong>Preisverleihung am 6. November</strong> zu mobilen Apps, Webseiten, Spielen, und interaktiven Installationen weiterzuentwickeln. Sie alle arbeiten mit den <strong>26 Datensammlungen</strong>, insgesamt <strong>über 600.000 Datensätzen</strong>, zu Kulturdenkmälern, Kunstwerken und Kunsthandwerk, Fotografie, Architektur, Münzen, Werbemitteln, archäologischen Fundstücken und historischen Karten zu Hamburg und der Hammaburg, bis hin zu astronomischen Bildplatten.
      </p>
      <p>
      Die Daten stehen dauerhaft auch allen anderen Interessierten unter offenen Lizenzen frei zur Verfügung. Ihr findet sie alle <a href="{{site.baseurl}}daten">auf unserer <em>Daten</em>-Seite</a>.
      </p>
      <p>
      Auf Hackdash.org könnt ihr <strong><a href="https://hackdash.org/dashboards/cdvnord">alle Projekte und ihren Fortschritt</a></strong> verfolgen.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 col-lg-offset-3">
      <p>
        <strong>Unser Newsletter hält euch auf dem Laufenden!</strong>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 col-lg-offset-3">
      <p class="center"><a class="btn btn-primary btn-lg btn-events" href="http://eepurl.com/b4EcrX"  target="_blank" role="button">Jetzt abonnieren!</a></p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <header id="about" class="subheader">
        <h2>&nbsp;Über Coding da Vinci <span class="cdvn-blue">Nord</span>&nbsp;</h2>
      </header>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 col-lg-offset-3">
      <p>
        In den Archiven unserer Museen, Galerien und Bibliotheken schlummern Daten – Gemälde, Buchdrucke, Fotos, Objekte, Ton- und Videoaufnahmen in digitalisierter Form. Der neue digitale Zugang zu unserem kulturellen Erbe bleibt der Öffentlichkeit aber sehr häufig noch verschlossen. <strong class="cdvn-blue">Coding da&nbsp;Vinci Nord</strong> holt diese Daten ans Tageslicht und macht sie erfahrbar.
      </p>
      <p>
        Kulturinteressierte, Geisteswissenschaftler/innen, Künstler/innen und Designer/innen treffen auf Entwickler/innen und Hacker, um interdisziplinär mit den Daten zu experimentieren und sie in neue Zusammenhänge zu stellen. <a href="{{site.baseurl}}projekte">Dabei entstehen neue Formate, Installationen, Apps und Webseiten</a>, die Informationen und Werke aus den Archiven unserer Kulturinstitutionen zeitgemäß interpretieren und vermitteln.
      </p>
    </div>
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1">
        <img class="img-rounded" style="margin: 6px 0;" src="{{site.baseurl}}img/events/CDV-Nord-Kick-Off-16-pan-xs.jpg" />
        <p class="caption-text">Coding da Vinci Nord in vollem Gange!</p>
      </div>
    </div>
    <div class="col-lg-6 col-lg-offset-3">
      <p>
        Renommierte Kulturinstitutionen wie u.a. das Archäologische Museum Hamburg, das Museum für Kunst und Gewerbe, die Staats- und Universitätsbibliothek Hamburg, das Museum für Arbeit, das Altonaer Museum oder auch das virtuelle Münzkabinett KENOM öffnen Euch ihre Datenschatzkammern.
      </p>
      <p>
        Die Teilnehmer*innen bilden interdisziplinäre Teams um Fotos, Gemälde, Audioaufnahmen und viele andere Medien und zugehörige Metadaten, um gleich loszulegen, Ideen zu entwickeln und diese umzusetzen. Die Kollaboration mit Menschen aus unterschiedlichsten Disziplinen setzt eine kreative Energie frei, die ein intensives Wochenende und originelle Projektideen versprechen. Experten unterstützen sie in Workshops und als Ansprechpartner mit ihrer Expertise.
      </p>
    </div>
    <div class="row">
    <div class="col-lg-10 col-lg-offset-1">
      <!-- STEPS Semantic Timeline -->
      <section id="Steps" class="steps-section">
        <div class="steps-timeline">

          <div class="steps-one">
            <img class="steps-img" src="/img/cdvn-blue-45x45.png" alt="" />
            <h3 class="steps-name">
              Kick-Off ✔︎
            </h3>
            <p class="steps-description">
              17. + 18. September
            </p>
          </div>

          <div class="steps-two">
            <img class="steps-img" src="/img/cdvn-blue-45x45.png" alt="" />
            <h3 class="steps-name">
              Sprint
            </h3>
            <p class="steps-description">
               6 Wochen Entwicklungszeit
            </p>
          </div>

          <div class="steps-three">
            <img class="steps-img" src="/img/cdvn-blue-45x45.png" alt="" />
            <h3 class="steps-name">
              Preisverleihung & Party
            </h3>
            <p class="steps-description">
               6. November
            </p>
          </div>
        </div>
      </section>
    </div>
    </div>
    <div class="row">
    <div class="col-lg-6 col-lg-offset-3">
      <p>
        Nach dem Auftaktwochenende haben die Teams <strong>sechs Wochen Entwicklungszeit</strong>, um an ihren Projekten weiter zu feilen. Wir unterstützen sie dabei weiter mit Workshop-Angeboten und bei Meetups. Bei der abschließenden <strong>Preisverleihung am 6. November</strong> werden schließlich alle Ergebnisse der Öffentlichkei und unserer hochkarätigen Jury präsentiert. In mehreren Kategorien werden herausragende Projekte mit Preisen prämiert.
      </p>
    </div>
  </div>
  <div>

  <div class="row">
    <div class="col-lg-6 col-lg-offset-3">
      <p>
        Mit <strong class="cdvn-blue">Coding da&nbsp;Vinci Nord</strong> findet dieses Jahr das erste Regionalevent von <a href="{{site.baseurl}}">Coding da Vinci</a> mit Fokus auf den Norden Deutschlands und Europas in Hamburg statt.
      </p>
      <p>
        Der Kultur-Hackathon vernetzt technikaffine und kulturbegeisterte Communities mit den norddeutschen Kultur&shy;insti&shy;tu&shy;tionen, um gemeinsam das kreative Potential, das in unserem digitalen Kulturerbe schlummert, zu wecken und zu entfalten.
      </p>
      <p>
        <strong class="cdvn-blue">Coding da&nbsp;Vinci Nord</strong> wird von einem regionalen Team von Freiwilligen veranstaltet und durch die Gründer von <strong>Coding da Vinci</strong>, die <a href="https://www.deutsche-digitale-bibliothek.de/">Deutsche Digitale Bibliothek</a>, die <a href="https://okfn.de/">Open Knowledge Foundation Deutschland</a>, die <a href="http://www.servicestelle-digitalisierung.de/">Servicestelle Digitalisierung Berlin</a> und <a href="https://wikimedia.de">Wikimedia Deutschland</a>, begleitet und unterstützt.
      </p>
      <p>
        Bei Fragen erreicht ihr uns unter <a href="mailto:nord@codingdavinci.de">nord@codingdavinci.de</a>. Das Projektmanagement übernimmt <a href="mailto:philippgeisler@mailbox.org">Philipp Geisler</a>.
      </p>
    </div>
  </div>
</div>

<div id="programm" class="container-fluid">
  <div class="row">
    <div class="col-lg-10 col-lg-offset-1">
      <header class="subheader subheader-uhr">
        <h2>&nbsp;Programm&nbsp;</h2>
      </header>
    </div>
  </div>

  <div class="container" id="schedule">
     {% assign program = site.data.program_nord[0] %}

     <div class="row">
       <div class="col-lg-5 col-lg-offset-1">
         <div class="programheader">
           <h2>{{ program.header }}</h2>
         </div>


         <table class="table">
           <thead>
             <tr>
               <td class="head" colspan="2">{{ program.title }}</td>
             </tr>
           </thead>

           {% for entry in program.entries %}
           <tr>
             <td>{{ entry.date | date:"%H:%M"}}</td>
             <td>{{ entry.content }}</td>
           </tr>
           {% endfor %}
         </table>

         {% assign program = site.data.program_nord[1] %}
         <table class="table">
           <thead>
             <tr>
               <td class="head" colspan="2">{{ program.title }}</th>
             </tr>
           </thead>

           {% for entry in program.entries %}
           <tr>
             <td>{{ entry.date | date:"%H:%M"}}</td>
             <td>{{ entry.content }}</td>
           </tr>
           {% endfor %}
         </table>
       </div>

       <div class="col-lg-5">
         {% assign program = site.data.program_nord[2] %}
         <div class="programheader">
           <h2>{{ program.header }}</h2>
         </div>
         <table class="table">
           <thead>
             <tr>
               <td colspan="2" class="head">{{ program.title }}</td>
             </tr>
           </thead>
           <tr>
             <td>
               <img src="{{ program.image}}" alt="Sprint" />
             </td>
           </tr>
           {% for entry in program.entries %}
           <tr>
             <td>{{ entry.content }}</td>
           </tr>
           {% endfor %}

         </table>

         {% assign program = site.data.program_nord[3] %}
         <div class="programheader">
           <h2>{{ program.header }}</h2>
         </div>
         <table class="table">
           <thead>
             <tr>
               <td class="head" colspan="2">{{ program.title }}</td>
             </tr>
           </thead>

           {% for entry in program.entries %}
           <tr>
             <td>{{ entry.date | date:"%H:%M"}}</td>
             <td>{{ entry.content }}</td>
           </tr>
           {% endfor %}
         </table>

       </div>
     </div>

     <div class="row">
       <div class="col-lg-10 col-lg-offset-1">
         {% assign program = site.data.program_nord[4] %}
         <table class="table">
           <thead>
             <tr>
               <td class="head" colspan="3">{{ program.title }}: {{ program.header }}</td>
             </tr>
           </thead>

           {% for entry in program.entries %}
           <tr>
             <td>{{ entry.date | date:"%H:%M"}}</td>
             <td>{{ entry.content }}</td>
             <td>{{ entry.moderator}}</td>
           </tr>
           {% endfor %}
         </table>
       </div>
     </div>

  </div>
</div>

<div id="events-tn" class="container-fluid">
  <div class="row">
    <div class="col-lg-10 col-lg-offset-1">
      <header class="subheader subheader-haende">
        <h2>&nbsp;Infos für Teilnehmende&nbsp;</h2>
      </header>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 col-lg-offset-3">
      <p>Registrierung und Teilnahme an <strong class="cdvn-blue">Coding da&nbsp;Vinci Nord</strong> ist für euch kostenlos. Während des Kick-Off-Wochenendes wird natürlich auch für Euer leibliches Wohl gesorgt. Vielen Dank dafür an unsere <a href="#sponsors">Unterstützer und Sponsoren!</a></p>
    </div>
  </div>
  <div class="row">
    <!-- div class="col-lg-6 col-lg-offset-3">
      <p>
        Schaut euch auch einmal <a href="{{site:baseurl}}projekte/2015">die tollen Projekte aus 2015</a> und <a href="{{site:baseurl}}projekte/2015">2014</a> an.
      </p>
    </div -->
    <div class="col-lg-6 col-lg-offset-3">
      <header class="subheader" id="teilnahmebedingungen">
        <h3>&nbsp;Teilnahmebedingungen&nbsp;</h3>
      </header>
      <p>
        Um an <strong class="cdvn-blue">Coding da&nbsp;Vinci Nord</strong> teilnehmen zu können, müsst ihr diese Bedingungen erfüllen:
      </p>
      <ul>
        <li>Ihr müsst Euch <a href="http://codingdavinci-nord.eventbrite.com/?aff=cdv" target="_blank">vollständig registriert</a> haben.</li>
        <li>Eure Projekte müssen die zur Verfügung gestellten offenen Kulturdaten nutzen.</li>
        <li>Ihr präsentiert euer Projekt auf der öffentlichen Preisverleihung.</li>
        <li>Euer Projekt muss unter einer freien Lizenz (bspw. Open Source oder Open Definition) veröffentlicht werden.</li>
      </ul>
    </div>
  </div>
  <div id="register-tn" class="row">
    <div class="col-lg-6 col-lg-offset-3">
      <p class="center"><a class="btn btn-primary btn-lg btn-events" href="http://codingdavinci-nord.eventbrite.com/?aff=cdv"  target="_blank" role="button">Jetzt zur Teilnahme anmelden!</a></p>
    </div>
  </div>
</div>

<div id="events-ki" class="container-fluid">
  <div class="row">
    <div class="col-lg-10 col-lg-offset-1">
      <header class="subheader subheader-buch">
        <h2>&nbsp;Infos für Kultur&shy;insti&shy;tu&shy;tionen&nbsp;</h2>
      </header>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 col-lg-offset-3">
      <p>
        Für die teilnehmenden Kultur&shy;insti&shy;tu&shy;tionen bietet <strong class="cdvn-blue">Coding da&nbsp;Vinci Nord</strong> die Gelegenheit, im Gespräch mit enthusiastischen Programmierer/innen, Designer/innen, Hardware-Bastlern, Wissenschaftler/innen, Künstler/innen und technikaffinen Kulturbegeisterten einen anderen Blick auf den eigenen digitalen Bestand zu werfen und neue Zielgruppen und Interessierte sowie Förder/innen für das digitale kulturelle Erbe zu gewinnen.
      </p>
      <h4>Weiterführende Informationen:</h4>
      <ul>

        <li>Hinweise zum <a href="{{site.baseurl}}downloads/Daten-Merkblatt_Coding_da_Vinci_Nord.pdf">Vorgehen bei der Datenwahl und -vorbereitung</a></li>
        <li>Hinweise zu <a href="{{site.baseurl}}downloads/datenformate.pdf">offenen, maschinenlesbaren Datenformaten</a></li>
        <li>Hinweise zu <a href="https://wikimedia.de/w/images.homepage/a/a2/IRights_CC-NC_Leitfaden_web.pdf">Folgen der NC-(non commercial)-Lizenzen</a></li>
        <li><a href="https://upload.wikimedia.org/wikipedia/commons/3/34/Open_Content_A_Practical_Guide_to_Using_Creative_Commons_Licences_web.pdf">A Practical Guide to Using Creative Commons Licences</a></li>
        <li><a href="https://opus4.kobv.de/opus4-zib/frontdoor/index/index/docId/5913">Handbuch zu technischen und rechtlichen Aspekten von Kulturdaten</a></li>
        <li><a href="https://pro.deutsche-digitale-bibliothek.de/">DDBpro – Das Portal für Datenpartner der Deutschen Digitalen Bibliothek</a></li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 col-lg-offset-3">
      <p>
        Wir freuen uns über jede Kultur&shy;insti&shy;tu&shy;tion, die an <strong class="cdvn-blue">Coding da&nbsp;Vinci Nord</strong> teilnehmen möchte. Die Datensätze der teilnehmenden Kultur&shy;insti&shy;tu&shy;tionen müssen unter einer offenen Lizenz (in der Regel CC0, CC-BY oder CC-BY-SA) oder gemeinfrei verfügbar sein, um als Institutionen teilnehmen zu können. Idealtypisch handelt es sich um Digitalisate und dazugehörige Metadaten oder eine offene API.
      </p>
    </div>
  </div>
</div>

<div id="sponsors" class="container-fluid">
  <div class="row">
    <div class="col-lg-10 col-lg-offset-1">
      <header class="subheader"> <!-- subheader-ausrufer -->
        <h2>&nbsp;Unterstützer&nbsp;</h2>
      </header>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 col-lg-offset-3">
      <p><strong class="cdvn-blue">Coding da&nbsp;Vinci Nord</strong> ist ein Regionalevent von <a href="{{site.baseurl}}">Coding da Vinci – der Kultur-Hackathon</a>.

      <p>
        <strong class="cdvn-blue">Coding da&nbsp;Vinci Nord</strong> vernetzt die Kultur- und Technikwelt miteinander und ergründet neue Möglichkeiten der Kulturvermittlung. Wir setzen uns dafür ein, dass digitales Kulturerbe frei zugänglich ist, vielfältig, breit und aktiv in der Gesellschaft genutzt wird.
      </p>
    </div>
  </div>

  <!--
  <div class="col-lg-6 col-lg-offset-3">
    <header class="subheader">
      <h3>&nbsp;Partner&nbsp;</h3>
    </header>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
      </div>
    </div>
  </div>
  -->
<div class="row">
  <div class="col-lg-6 col-lg-offset-3">
    <header class="subheader">
      <h3>&nbsp;Förderer&nbsp;</h3>
    </header>
    <div class="row">
      <div class="col-lg-6">
        <a href="http://mindspace.me/hamburg/" target="_blank"><img class="wide" src="http://mindspace.me/wp-content/themes/mindspace/css/images/mindspace_logo.svg" alt="Logo ©Mindspace" width="100%" /></a>
      </div>
      <div class="col-lg-6">
        <a href="http://www.puff-agency.com/" target="_blank"><img class="wide" src="{{site.baseurl}}img/supporter-nord/puff4.0Logo.png" alt="Logo ©puff4.0" width="100%" /></a>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-6 col-lg-offset-3">
    <header class="subheader">
      <h3>&nbsp;Sponsoren&nbsp;</h3>
    </header>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <a href="https://gomus.de/" target="_blank"><img src="http://gomus.de/wp-content/uploads/2016/06/gomus_label_600x600.png" alt="go~mus Logo ©Giant Monkey" width="60%" /></a>
      </div>
      <div class="col-lg-2">
        <a href="http://www.eos-uptrade.de" target="_blank"><img src="{{site.baseurl}}img/supporter-nord/eos_uptrade2.png" alt="Logo ©eos.uptrade" width="auto" height="100%" /></a>
      </div>
    </div>
  </div>
</div>
  <!--
  <div class="col-lg-6 col-lg-offset-3">
    <header class="subheader">
      <h3>&nbsp;Kulturstädte&nbsp;</h3>
    </header>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
      </div>
    </div>
  </div>
  -->
  <div class="row">
    <div class="col-lg-6 col-lg-offset-3">
      <header class="">
        <h4>sowie</h4>
      </header>
      <div class="row">
        <div class="col-lg-3">
          <a href="http://www.ada-hamburg.de/" target="_blank"><img src="{{site.baseurl}}img/supporter-nord/160721_ADA_LOGO.svg" alt="Logo ©A/D/A Hamburg" width="auto" height="60px" /></a>
        </div>
        <div class="col-lg-2">
          <a href="http://node.vvvv.org/" target="_blank"><img src="{{site.baseurl}}img/supporter-nord/NODE-SW.svg" alt="Logo ©NODE FORUM" width="auto" height="90px" /></a>
        </div>
        <div class="col-lg-4">
          <a href="http://theartsplus.com/" target="_blank"><img src="{{site.baseurl}}img/supporter-nord/TheArts+Logo.svg" alt="Logo ©THE ARTS+" width="auto" height="60px" /></a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 col-lg-offset-3">
      <div class="row">
        <div class="col-lg-2">
          <a href="http://www.flora-power.de/" target="_blank"><img src="{{site.baseurl}}img/supporter-nord/florapower.jpg" alt="Logo ©Flora-Power" width="auto" height="60px" /></a>
        </div>
        <div class="col-lg-2 col-lg-offset-1">
          <a href="http://edu-sharing-network.org/" target="_blank"><img src="{{site.baseurl}}img/supporter-nord/edu-sharing-logo-1-642x224.png" alt="Logo ©edu-sharing.net" width="auto" height="90px" /></a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 col-lg-offset-3">
      <p>
        Wir danken darüber hinaus IBM und Cisco für ihre großzügige Unterstützung!
      </p>
    </div>
  </div>
</div>

<div id="hosts" class="container-fluid">
  <div class="row">
    <div class="col-lg-10 col-lg-offset-1">
      <header class="subheader"> <!-- subheader-ausrufer -->
        <h2>&nbsp;Veranstalter&nbsp;</h2>
      </header>
    </div>
  </div>
  <div class="row">

  <!-- div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <p><strong class="cdvn-blue">Coding da&nbsp;Vinci Nord</strong> wird veranstaltet von:</p>
    </div>
  </div -->

  <div class="row">
    <div class="col-lg-3 col-lg-offset-1">
      <p>
        <a href="http://kreativgesellschaft.org/" target="_blank">
          <img class="wide" src="{{site.baseurl}}img/logos-2016-hh/LogoHKG_web.svg" alt="Hamburg Kreativ Gesellschaft" width="100%" height="auto" />
        </a>
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-2 col-lg-offset-1">
      <p>
        <a href="http://www.amh.de/" target="_blank">
          <img src="{{site.baseurl}}img/logos-2016-hh/AMH_SHHM_Logo_kl_CMYK.svg" alt="Archäologisches Museum Hamburg" width="100%" height="auto" />
        </a>
      </p>
    </div>
    <div class="col-lg-2">
      <p>
        <a href="http://codeforhamburg.org/" target="_blank">
          <img src="{{site.baseurl}}img/logos-2016-hh/CodeForHamburg.svg" alt="Code for Hamburg" width="100%" height="auto" />
        </a>
      </p>
    </div>
    <div class="col-lg-2">
      <p>
        <img src="{{site.baseurl}}img/logos-2016-hh/Logo_eCulture.info_rot.png" alt="eCulture.info" width="100%"/></p>
      <p>&nbsp;</p>
      <p>
        <a href="http://we-build.city/" target="_blank">
          <img src="{{site.baseurl}}img/logos-2016-hh/wbc_logo.svg" alt="We-Build.City" width="100%"/>
        </a>
      </p>
    </div>
    <div class="col-lg-2">
      <p>
        <a href="http://www.historische-museen-hamburg.de/" target="_blank">
          <img src="{{site.baseurl}}img/logos-2016-hh/SHMH_LOGO_cmyk_ho.jpg" alt="Stiftung Historische Museen Hamburg" width="100%"/>
        </a>
      </p>
      <p>
        <a href="https://de.wikipedia.org/wiki/Wikipedia:Kontor_Hamburg" target="_blank">
          <img src="{{site.baseurl}}img/logos-2016-hh/WikipediaHH.svg" alt="Wikipedia Hamburg (Logo)" width="65%" height="auto" />
        </a>
      </p>
    </div>
    <div class="col-lg-2">
      <p style="text-align: left;"><img src="{{site.baseurl}}img/logos-2016-hh/PS-SHeydenbluth.svg" alt="Projekte&et;Seminare Sabine Heydenbluth" width="50%"/></p>
    </div>
  </div>

</div>
