---
layout: sued
slug: events
slug2: sued
css: true
header: true
header_events: true
---
<div id="events" class="container">
	<div class="row">
		<div class="col-lg-12"><header class="subheader subheader-banderole"> <h2>CODING DA VINCI <span class="cdvs-gelb">SÜD</span></h2>
			</header>
		</div>
	</div>
<div class="col-lg-12 col-lg-offset-4" >
       <p style="margin-top:70px; margin-bottom:70px;" ><a class="btn btn-primary btn-lg btn-events" href="https://www.xing.com/events/2082957" target="_blank" role="button">Anmeldung zur Preisverleihung</a></p>
     </div>


	<div class="row" >
      		<div class="col-lg-12 ">
	<p>Coding da Vinci, der Kultur-Hackathon für offene Kulturdaten, vernetzt Kultur- und Technikwelt miteinander und zeigt, welche überraschenden Möglichkeiten in offenen Kulturdaten stecken. <br></p>
		<p>Wer den Kick-off am 6./7. April 2019 in München verpasst hat, findet hier den archivierten Livestream:</p>
		</div>
	</div>



	<div class="row" >
      		<div class="col-lg-offset-5 col-lg-12 ">
		<p><a href="https://www.twitch.tv/videos/407980609" target="_blank">Samstag Teil [1/2]</a></p>
		<p><a href="https://www.twitch.tv/videos/407980783" target="_blank">Samstag Teil [2/2]</a></p>
		<p><a href="https://www.twitch.tv/videos/407980883" target="_blank">Sonntag - komplett</a></p>
		</div>
	</div>
	<div class="row" >
      		<div class="col-lg-offset-3 col-lg-12 ">
			<iframe  src="https://player.twitch.tv/?channel=c0dingdav1nc1" allowfullscreen="true" scrolling="no" height="378" width="620" frameborder="0"></iframe>
		</div>
	</div>


			
        <div class="row">
               <div class="col-lg-12">

		<br/>
		<p>Beim ersten Coding Da Vinci Süd werden Kultur- und Bildungseinrichtungen aus Bayern und Baden-Württemberg mit einer bunten Mischung kreativer Köpfe zusammengebracht.</p>
		<br/>
		<p>Du bist EntwicklerIn, DesignerIn, GrafikerIn, KünstlerIn, HackerIn, SpieleentwicklerIn, MakerIn, machst “irgendwas mit Medien“ oder bist einfach an Kultur interessiert und hast Lust mit Gleichgesinnten neue Ideen zu entwickeln?</p>
		<p>Dann bietet Coding da Vinci Süd dir die Chance, mit Kulturinstitutionen in Bayern und Baden-Württemberg in Kontakt zu kommen und gemeinsam den Zugang zu unserem digitalen Kulturerbe neu zu gestalten – mit Apps, Websites, VR/AR-Umsetzungen, interaktiven Installationen, Datenvisualisierungen, hand-on oder anderem Überraschenden.</p>
		<br>
		<p><strong>Was passiert bei Coding da Vinci Süd? </strong></p>
     </div>
		
               <div class="col-lg-12">
		<p style="margin-top:50px;"><strong>KICK-OFF</strong></p>
		<p>Bei dem zweitägigen Kick-Off am 6./7. April entwickelten die TeilnehmerInnen in Teams vor Ort Ideen, Projekte und Prototypen. Während ein klassischer Hackathon den Teilnehmern nur wenig Zeit für ihre Projektentwicklung gibt, erstreckt sich Coding da Vinci Süd nach dem Kick-Off über eine Zeitspanne von sechs Wochen.</p> 
		<p/>
		<p style="margin-top:50px;"><strong>SPRINT</strong></p>
		<p>In der Sprintphase werden die Ideen in den Teams weiterentwickelt. Einsehen kann man die Projekte auf dem <a href="https://hackdash.org/dashboards/cdvsued" target="_blank">Coding da Vinci Süd Hackdash</a>. Wer noch Lust hat, ein Projekt zu starten oder sich an einem existierenden Projekt beteiligen möchte, ist herzlich willkommen.</p>
		<p>Es gibt während des Sprints zwei Meetup Termine:</p>
		<ul style="list-style-type:none;">
			<li><b>Meetup Nürnberg</b><br/>
				Dienstag, den 30. April, 17-19 Uhr im Museum für Kommunikation Nürnberg (im Lesesaal mitten in der Dauerausstellung, <a href="https://www.mfk-nuernberg.de/besuch/" target="_blank">Anfahrt</a>)</li>
			<li><b>Meetup München</b><br/>
				Freitag, den 3. Mai, 17-19 Uhr im Deutschen Museum in München (Alter Seminarraum, <a href="https://www.deutsches-museum.de/information/anfahrt/museumsinsel/" target="_blank">Anfahrt</a>)</li>
		</ul>
		<p/>
		<p style="margin-top:50px;"><strong>PREISVERLEIHUNG</strong></p>
		<p>Die Präsentation und Preisverleihung finden am 18. Mai 2019 in der <a href="https://www.kunstkulturquartier.de/tafelhalle/" target="_blank">Tafelhalle des KunstKulturQuartiers Nürnberg</a> statt.</p>
		<p>Alle Ergebnisse des Hackathons – vom Quellcode bis zu Bildern – werden der Öffentlichkeit unter freien Lizenzen (<a href="https://opensource.org/licenses" target="_blank">Open Source</a> bzw. <a href="https://opendefinition.org/licenses/" target="_blank">Open Definition</a>) zur Verfügung gestellt.</p><br>

		</div>

		<div class="col-lg-6 col-lg-offset-4">
       <p style="margin-top:50px;margin-bottom:30px;" class="center"><a class="btn btn-primary btn-lg btn-events" href="https://www.xing.com/events/2082957" target="_blank" role="button">Anmeldung zur Preisverleihung</a></p>
     </div>
	</div>

<div class="row">
     <div class="col-lg-10 col-lg-offset-1">	
	<section id="Steps" class="steps-section"><!-- Timeline -->
		<div class="steps-timeline">

			<div class="steps-one">
				<img class="steps-img" src="/img/sued/cdv-gelb.png" alt="">
				<h3 class="steps-name">
					<a href="/news/2019/02/08/cdv-sued-nimmt-fahrt-auf.html" target="_blank">prepare your data ✔︎</a>
				</h3>
				<p class="steps-description">
					Workshop für Datengeber <br>
					<a href="CdV_Sued_Datenworkshop_MUC.pdf" target="_blank">München</a>, 28.01.19<br>
					<a href="CdV_Sued_Datenworkshop_STUTT.pdf" target="_blank">Stuttgart</a>, 29.01.19
				</p>
			</div>

			<div class="steps-two">
				<img class="steps-img" src="/img/sued/cdv-gelb.png" alt="">
				<h3 class="steps-name">
				Kick-Off ✔︎
				</h3>
				<p class="steps-description">
				6./7. April 2019 <br>
					Hackathon-Wochenende <br>
				<a href="https://www.muenchner-stadtbibliothek.de/bibliotheken/stadtbib-am-gasteig/" target="_blank">Münchener Stadtbibliothek</a> <br/>
					Am Gasteig<br/>
					Rosenheimer Str. 5<br/>
					81667 München<br/>
				</p>
			</div>

			<div class="steps-three">
				<img class="steps-img" src="/img/sued/cdv-gelb.png" alt="">
				<h3 class="steps-name">
				Sprint
				</h3>
				<p class="steps-description">
					Sechs Wochen, um kreative Ideen umzusetzen
				</p>
			</div>

			<div class="steps-four">
				<img class="steps-img" src="/img/sued/cdv-gelb.png" alt="">
				<h3 class="steps-name">
				Preisverleihung
				</h3>
				<p class="steps-description">
				18. Mai 2019 <br>
				Ausstellung der Projekte und Siegerehrung<br>
				<a href="https://www.kunstkulturquartier.de/tafelhalle/service-info/technik/anfahrt/" target="_blank">Tafelhalle </a><br/>
				KunstKulturQuartier<br/>
				Äussere Sulzbacher Str. 62<br/>
				90491 Nürnberg
				</p>
			</div>
		</div>
	</section>
     </div>
    </div>


<div id="infos-teilnehmer" class="container">
<div class="row">
	<header class="subheader subheader-haende">
		<h2>INFOS FÜR TEILNEHMENDE</h2>
	</header>
	<p>Für Coding da Vinci Süd stellen 31 Kulturinstitutionen Daten und Inhalte unter einer offenen Lizenz zur Verfügung, die du seit dem 4. März im <a href="https://codingdavinci.de/daten/ " target="_blank">Coding da Vinci Datenportal</a> finden kannst.</p>
	<p><strong>Um an Coding da Vinci Süd teilnehmen zu können, solltet ihr:</strong></p>
	<ul>

		<li>offene Kulturdaten verwenden, darunter mind. einen Datensatz von Coding da Vinci</li>
		<li>euch mit eurem Projekt auf dem Hackdash registrieren</li>
		<li>eure Projekte auf der öffentlichen Preisverleihung am 18. Mai 2019 in Nürnberg vorstellen</li>
		<li>eure Projekte unter einer freien Lizenz (bspw. <a href="https://opensource.org/licenses" target="_blank">Open Source</a> oder <a href="https://opendefinition.org/licenses/" target="_blank">Open Definition</a>) veröffentlichen.</li>
	</ul>
	<p>Eine Facebook-Gruppe für Mitfahrgelegenheiten findest du hier: <a href="https://www.facebook.com/groups/414769542417806/" target="_blank">Coding da Vinci Mitfahrgelegenheit</a></p>
	<p>Wenn Ihr von außerhalb anreist, wendet Euch bitte an uns wegen einer möglichen Unterstützung zu euren Reisekosten. Meldet Euch dazu bitte vor Ort bei der Registrierung am 18. Mai 2019.</p>
	<p>Für Fragen und Anregungen kannst du uns auch immer <a href="mailto:cdvsued@zd-b.de" target="_blank">über E-Mail</a> oder <a href="https://www.twitter.com/cdvsued" target="_blank">auf Twitter</a> erreichen.</p>
    </div>
</div>


<div id="infos-datengeber" class="container">
	<header class="subheader subheader-buch"> <h2>INFOS FÜR KULTUR-INSTITUTIONEN</h2>
		</header>

		<p>Coding da Vinci stellt für ambitionierte Museen, Bibliotheken, Archive und wissenschaftliche Sammlungen eine einzigartige Gelegenheit dar, im Dialog mit enthusiastischen und technikaffinen Kulturbegeisterten die eigenen digitalen Bestände aus anderer Perspektive zu betrachten, aktuelle Fragen an vertraute Objekte zu stellen, neue Zielgruppen und Interessierte kennenzulernen und natürlich FörderInnen für das digitale kulturelle Erbe zu gewinnen.</p>
		<p>31 Kulturinstitutionen aus Bayern und Baden-Württemberg stellen für den Kick-Off von Coding da Vinci Süd Datensätze unter offenen Lizenzen zur Verfügung, die seit dem 4. März 2019 im <a href="https://codingdavinci.de/daten/" target="_blank">Coding da Vinci Datenportal</a> veröffentlicht sind.</p>
		<ul>
		<li><a href="CdV_Sued_Datenmerkblatt.pdf" target="_blank">Merkblatt zum Vorgehen bei der Datenbereitstellung</a><br/></li>
		<li><a href="CdV_Sued_Fragenkatalog.pdf" target="_blank">Fragenkatalog zur Auswahl geeigneter Datenbestände für Coding da Vinci</a></li>
		</ul>
		<br><p>Bei Fragen können Sie sich jederzeit über <a href="mailto:cdvsued@zd-b.de" target="_blank">cdvsued@zd-b.de</a> bei uns melden.</p>
	</div>


<div class="container" id="challenges">
	<header class="subheader subheader-challenge">
		<h2>Die Challenge</h2>
	</header>
	<div class="row challenge-box equal">
		<div class="col-lg-4 col-md-5 col-lg-offset-2 col-md-offset-1">
			<h3>Mash it!</h3>

			<div class="box">
				<p>
				Wissensgewinn und neue Erkenntnisse durch Verknüpfung von verschiedenen Datensätzen: Wir haben zahlreiche Kultur-Datasets. Wir haben die API der DDB. Wir haben die API der Wikipedia. Wir haben Open Street Map. … Was macht Ihr damit? Mash it!
				</p>

				<p>
				<strong>Beispiele:</strong> Linked Open Data, Datenanalyse, Mashup, Kontext herstellen
				</p>
				<img src="/img/challenges/mash-it.jpg" alt="Mash it!" class="img-responsive">
			</div>
		</div>
		<div class="col-lg-4 col-md-5">
			<h3>Move it!</h3>

			<div class="box">
				<p>
				Wir wollen mehr Beteiligung an Kultur ermöglichen und Barrieren abbauen: Holt die Kulturobjekte raus aus den Häusern in den digitalen Raum – Move it!
				</p>

				<p>
				<strong>Beispiele:</strong> User Experience, Augmented Reality, Social Media
				</p>
				<img src="/img/challenges/move-it.jpg" alt="Move it!" class="img-responsive">
			</div>
		</div>
	</div>
	<div class="row challenge-box equal">
		<div class="col-lg-4 col-md-5 col-lg-offset-2 col-md-offset-1">
			<h3>Discover it!</h3>

			<div class="box">
				<p>
				Unser Ziel ist spielerisches Lernen und Zuordnen, Kulturwissen will anschaulich und verständlich vermittelt werden: Bücher stehen in der Bibliothek, Akten sind im Archiv, Bilder und Skulpturen im Museum. Unterschiedlichste Objekte – vielfältige Zugänge. Wie kann man diese Objekte so miteinander verbinden, dass alle einen Zugang zu ihnen bekommen? Discover it!
				</p>

				<p>
				<strong>Beispiele:</strong> Stadtführer, EduGames, Recherchetools, Datenvisualisierung
				</p>
				<img src="/img/challenges/discover-it.jpg" alt="Discover it!" class="img-responsive">
			</div>
		</div>
		<div class="col-lg-4 col-md-5">
			<h3>Improve it!</h3>

			<div class="box">
				<p>
				Spaß bereiten und gleichzeitig Inhalt vermitteln, Kulturgüter neu präsentieren oder Sammlungsdaten effektiver nutzbar machen – erfüllt den Kulturinstitutionen einen Wunsch! Die einen interpretieren Statuen und Gemälde, die anderen archivieren Filme, bewahren Töne oder sammeln Pflanzen. Alles hängt miteinander zusammen, aber wie kann man die Bestände aus einem neuen Blickwinkel betrachten? Wie kann man einzelne Sammlungen um das Wissen der Welt ergänzen? Wie muss der Werkzeugkasten einer Kultureinrichtung heute aussehen? Improve it!
				</p>

				<p>
				<strong>Beispiele:</strong> Scraper bauen, Datenqualität verbessern, Tagging, Geolocation
				</p>
				<img src="/img/challenges/	improve-it.jpg" alt="Improve it!" class="img-responsive">
			</div>
		</div>
	</div>
</div>

<div id="programm" class="container">
		<header class="subheader subheader-uhr">
		<h2>PROGRAMM</h2>
		</header>
		<p>Am 6./7. April 2019 fand der Kick-off in der Münchner Stadtbibliothek Am Gasteig statt. Die anwesenden TeilnehmerInnen haben sich an diesem Wochenende zu Teams zusammengefunden, die in der sechswöchigen Sprint-Phase Ideen für mobile Apps, Webseiten, Datenvisualisierungen, Spiele und interaktive Installationen praktisch umsetzen. Die Ergebnisse werden in einer großen Abschlussveranstaltung am 18. Mai in Nürnberg der Öffentlichkeit vorgestellt. Die Jury wird besonders herausragende Projekte prämieren.</p>

		 <div class="container" id="schedule">
			{% assign program = site.data.program_sued[0] %}

		     <div class="row">
			  <div class="col-lg-5 col-lg-offset-1">
				<div class="programheader">
				  <h2>{{ program.header }}</h2>
				</div>

				<table class="table">
				  <thead>
					<tr>
					  <td class="head" colspan="2">{{ program.title }}</td>
					</tr>
				  </thead>

				  {% for entry in program.entries %}
				  <tr>
					<td>{{ entry.date | date:"%H:%M"}}</td>
					<td>{{ entry.content }}</td>
				  </tr>
				  {% endfor %}
				</table>

				{% assign program = site.data.program_sued[1] %}
				<table class="table">
				  <thead>
					<tr>
					  <td class="head" colspan="2">{{ program.title }}</td>
					</tr>
				  </thead>

				  {% for entry in program.entries %}
				  <tr>
					<td>{{ entry.date | date:"%H:%M"}}</td>
					<td>{{ entry.content }}</td>
				  </tr>
				  {% endfor %}
				</table>
			</div>

			  <div class="col-lg-5">
				   {% assign program = site.data.program_sued[2] %}
                                <div class="programheader">
                                  <h2>{{ program.header }}</h2>
                                </div>
                                <table class="table">
                                  <thead>
                                        <tr>
                                          <td colspan="2" class="head">{{ program.title }}</td>
                                        </tr>
                                  </thead>
                                  <tr>
                                        <td>
                                                <img src="{{ program.image}}" alt="Sprint" />
                                        </td>
                                  </tr>
                                  {% for entry in program.entries %}
                                  <tr>
                                        <td>{{ entry.content }}</td>
                                  </tr>
                                  {% endfor %}

                                </table>

				{% assign program = site.data.program_sued[3] %}
                                <div class="programheader">
                                  <h2>{{ program.header }}</h2>
                                </div>
                                <p style="text-align: center"><a href="CdV_Sued_Preisverleihung_Programm.pdf" target="_blank">Programm</a></p>
				<table class="table">
				  <thead>
					<tr>
					  <td class="head" colspan="2">{{ program.title }}</td>
					</tr>
				  </thead>

				  {% for entry in program.entries %}
				  <tr>
					<td>{{ entry.date | date:"%H:%M"}}</td>
					<td>{{ entry.content }}</td>
				  </tr>
				  {% endfor %}
				</table>


			</div>
                  </div>

		</div> 


<div id="preise" class="container">
	 <header class="subheader subheader-preis"> <!-- subheader-preis -->
		 <h2>Preise</h2>
	 </header>

 <div class="row additional-text">
	 <p>Bei der Preisverleihung am 18. Mai in der <a href="https://www.kunstkulturquartier.de/tafelhalle/" target="_blank">Tafelhalle</a> des KunstKulturQuartiers Nürnberg bestimmt die Jury aus allen
		 Team-Projekten die Gewinner in den 4 Kategorien: „most technical”, „most useful”, „best design” und „funniest hack”. Das Publikum kann darüber
		 hinaus im Rahmen eines Publikumpreises über „everybody’s darling“ abstimmen.</p>
		 <br/><br/>

			 <div class="col-lg-offset-1 col-md-offset-1 col-lg-2 col-md-2 col-sm-3 prizes-profile">
				 <div>
					 <img src="/img/preise/preise-sued-1c.png" alt="most technical" class="img-responsive">
				 </div>
				 <h5>most technical</h5>
			 </div>

			 <div class="col-lg-2 col-md-2 col-sm-3 prizes-profile">
				 <div>
					 <img src="/img/preise/preise-sued-2c.png" alt="most useful" class="img-responsive">
				 </div>
				 <h5>most useful</h5>
			 </div>

			 <div class="col-lg-2 col-md-2 col-sm-3 prizes-profile">
				 <div>
					 <img src="/img/preise/preise-sued-3c.png" alt="most performing" class="img-responsive">
				 </div>
				 <h5>best design</h5>
			 </div>

			 <div class="col-lg-2 col-md-2 col-sm-3 prizes-profile">
				 <div>
					 <img src="/img/preise/preise-sued-4c.png" alt="most innovative" class="img-responsive">
				 </div>
				 <h5>funniest hack</h5>
			 </div>

			 <div class="col-lg-2 col-md-2 col-sm-3 prizes-profile">
				 <div>
					 <img src="/img/preise/preise-sued-5c.png" alt="everybody's darling" class="img-responsive">
				 </div>
				 <h5>everybody's darling</h5>
			 </div>
</div>


<div id="jury" class="container">
 <header class="subheader subheader-buch"> <!-- subheader-buch -->
	 <h2>Jury</h2>
 </header>
 <div class="row additional-text centered">

	 <div class="col-lg-offset-1 col-md-offset-1 col-lg-2  col-md-2 jury-profile">
		 <img src="/img/sued/jury/Anja_Mueller.jpg" alt="Anja Müller" class="img-responsive">
		 <h5>Anja Müller</h5>
		 <p>Koordination</p>
		 <p><a href="https://www.digis-berlin.de/" target="_blank">digiS Forschungs- und Kompetenzzentrum Digitalisierung Berlin</a></p>
	 </div>

	 <div class=" col-lg-2  col-md-2 jury-profile">
		 <img src="/img/sued/jury/Effi_Tramountani.jpg" alt="Effi Tramountani" class="img-responsive">
		 <h5>Effi Tramountani</h5>
		 <p>Informatikerin und Vorstand</p>
		 <p><a href="http://readytoco.de/" target="_blank">Ready to Code</a></p>
	 </div>

	 <div class=" col-lg-2  col-md-2 jury-profile">
		 <img src="/img/sued/jury/Philipp_Grammes.jpg" alt="Philipp Grammes" class="img-responsive">
		 <h5>Philipp Grammes</h5>
		 <p>Journalist</p>
		 <p>Digitalchef <a href="http://www.bayern2.de" target="_blank">Bayern 2</a></p>
	 </div>

	 <div class=" col-lg-2  col-md-2 jury-profile">
		 <img src="/img/sued/jury/Fabrizio_Palmas.jpg" alt="Fabrizio Palmas" class="img-responsive">
		 <h5>Fabrizio Palmas</h5>
		 <p>Creative and Technical Director</p>
		 <p><a href="https://straightlabs.com" target="_blank">straightlabs GmbH & Co. KG</a>
		 	<br/>
		 <a href="http://www.fabriziopalmas.com" target="_blank">fabriziopalmas.com</a></p>
	 </div>

	 <div class=" col-lg-2  col-md-2 jury-profile">
		 <img src="/img/sued/jury/Agnes_Lison.jpg" alt="Agnes Lison" class="img-responsive">
		 <h5>Agnes Lison</h5>
		 <p>Senior Art Director</p>
		 <p><a href="https://www.agli-design.de/" target="_blank">AD Agli-Design</a></p>
	 </div>
 </div>
</div>



<div id="presse" class="container-fluid">
	<header class="subheader subheader-ausrufer">
		<h2>Presse</h2>
	</header>
	<p> Presse- und Öffentlichkeitsarbeit Coding da Vinci Süd 2019: Angelika Schindel <a href="mailto:A.Schindel@gmx.de" target="_blank">A.Schindel@gmx.de </a>
	</p>
	<p><a href="/downloads/digitale_pressemappe_coding-da-vinci_sued.pdf" target="_blank">Digitale Pressemappe</a></p>
</div>

<div id="hosts" class="container-fluid"> <!-- Logos Veranstalter -->
	<header class="subheader subheader-ausrufer">
		<h2>Veranstalter</h2>
	</header>
	<div class="row logos"> <!-- Logos Münchner Stadtbibliothek + Landesstelle + ZD.B-->
		<div class="col-xs-4">
			<a href="https://www.muenchner-stadtbibliothek.de/" target="_blank">
				<img src="{{site.baseurl}}img/sued/msb.png" class="img-responsive" alt="Münchener Stadtbibliothek"/>
			</a>
		</div>
		<div class="col-xs-4">
			<a href="https://www.museen-in-bayern.de/home.html" target="_blank">
				<img src="{{site.baseurl}}img/sued/lang.png" alt="Landesstelle für nichtstaatliche Museen Bayern"  class="img-responsive"/>
			</a>
		</div>
		<div class="col-xs-4">
			<a href="https://zentrum-digitalisierung.bayern/" target="_blank">
				<img src="{{site.baseurl}}img/sued/zdb.png" alt="Zentrum Digitalisierung.Bayern"  class="img-responsive" />
			</a>
		</div>
	</div>
	<div class="row logos"> <!-- Logos Deutsches Museum + BadW + dhmuc -->
		<div class="col-xs-4">
			<a href="http://www.deutsches-museum.de/" target="_blank">
				<img src="{{site.baseurl}}img/sued/dm.png" class="img-responsive" alt="Deutsches Museum"/>
			</a>
		</div>
		<div class="col-xs-4">
			<a href="http://www.badw.de/" target="_blank">
				<img src="{{site.baseurl}}img/sued/BAdW_wbm.png" alt="Bayrische Akademie der Wissenschaften"  class="img-responsive"/>
			</a>
		</div>
		<div class="col-xs-4">
			<a href="https://dhmuc.hypotheses.org/" target="_blank">
				<img src="{{site.baseurl}}img/sued/dhmuc_Logo_farbe.png" alt="Digital Humanities in München"  class="img-responsive" />
			</a>
		</div>
	</div>
	<div class="row logos"> <!-- Logos Code for München + Filmzentrum + Games Bavaria -->
		<div class="col-xs-4">
			<a href="https://codefor.de/muenchen/" target="_blank">
				<img src="{{site.baseurl}}img/sued/cfg.png" class="img-responsive" alt="OK Lab München - Code for Germany"/>
			</a>
		</div>
		<div class="col-xs-4">
			<a href="http://filmzentrum-bayern.de/" target="_blank">
				<img src="{{site.baseurl}}img/sued/fz_bunt.png" alt="Bayrisches Filmzentrum"  class="img-responsive"/>
			</a>
		</div>
		<div class="col-xs-4">
			<a href="http://www.games-bavaria.com/de/" target="_blank">
				<img src="{{site.baseurl}}img/sued/gb.png" alt="Games / Bavaria"  class="img-responsive" />
			</a>
		</div>
	</div>
	<div class="row logos"> <!-- Logos MFG + Goethe -->
		<div class="col-xs-4">
			<a href="https://www.goethe.de/de/index.html" target="_blank">
				<img src="{{site.baseurl}}img/sued/Goethe_Institut_Logo.png" class="img-responsive" alt="Goethe Institut"/>
			</a>
		</div>
		<div class="col-xs-4 ">
			<a href="https://www.mfg.de/" target="_blank">
				<img src="{{site.baseurl}}img/sued/MFG_BW_RGB.png" class="img-responsive" alt="MfG Filmförderung"/>
			</a>
		</div>

	</div>

	<div id="partner" class="container-fluid"> 
		<header class="subheader"> <h2>Förderpartner</h2>
		</header>
		<div class="row row-centered row-cl">
			<div class="col-xs-offset-4">
				<p style="margin-top:40px; font-size: 13px;"><strong>Gefördert im Programm Kultur Digital der</strong></p>
				<a href="https://www.kulturstiftung-des-bundes.de/" target="_blank">
					<img src="{{site.baseurl}}img/sued/Logo_KSB_SW.jpg" class="img-responsive" alt="Kulturstiftung des Bundes"/>
				</a>
			</div>
		</div>
	</div>


	<div id="partner" class="container-fluid"> <!-- Logo Medienpartner: BR2 -->
		<header class="subheader"> <h2>Medienpartner</h2>
		</header>
		<div class="row row-centered row-cl">
			<div class="col-xs-offset-4">
				<a href="https://www.br.de/radio/bayern2/index.html" target="_blank">
					<img src="{{site.baseurl}}img/sued/B2_logo_rgb.png" class="img-responsive" alt="Bayern 2"/>
				</a>
			</div>
		</div>
	</div>


	<div id="partner" class="container-fluid">  <!-- Logo Partner: Kulturquartier Nürnberg -->
		<header class="subheader"> <h2>Partner & Unterstützer</h2>
		</header>
		<div class="row row-centered row-cl logos">
			<div class="col-xs-4 col-lg-3 col-lg-offset-1">
				<a href="https://www.kunstkulturquartier.de/tafelhalle/programm/" target="_blank">
					<img src="{{site.baseurl}}img/sued/stn.png" alt="Tafelhalle Nürnberg - KunstKulturQuartier"  class="img-responsive" />
				</a>
			</div>
			<div class="col-xs-4 col-lg-4">

				<a href="https://eizbach.de/" target="_blank">
					<img src="/img/sued/eiz.png" alt="Eizbach Getränke GmbH" class="img-responsive">
				</a>
			</div>

			<div class="col-xs-4 col-lg-4">
				<a href="http://allyourbase.gmbh" target="_blank">
					<img src="/img/sued/allyourbase.png" alt="All Your Base"  class="img-responsive" />
				</a>
			</div>

		</div>
		<div class="row row-centered row-cl">
			<div class="col-xs-offset-3">

				<a href="https://www.kulturkonsorten.de/" target="_blank">
					<img src="{{site.baseurl}}img/sued/kulturkonsorten.jpg" alt="Kulturkonsorten"  class="img-responsive" />
				</a>
			</div>
		</div>
		<div class="row row-centered row-cl" style="padding-top:60px;">
			<!--<div class="col-xs-4 col-lg-3 col-lg-offset-1">-->
			<div class="col-xs-offset-3" style="text-align: center">
			<!-- <div style="text-align: center"> -->	

				<a href="https://2019.semantics.cc" target="_blank">
					<img src="{{site.baseurl}}img/sued/semantics-2019-rgb_0.png" alt="Semantics"  class="img-responsive" style="max-width: 50% ; margin-left: 50px" />
				</a>
			</div>
		</div>
	</div>


