---
---
//Colors
$cdvrm-purple: #962A71;
$color-black: black;

.cdvrm-purple {
  color: $cdvrm-purple;
}

.logo-container {
background: url('/img/rheinmain/header_logo_rheinmain.png') top center no-repeat;
  width: auto;
  padding-top: 180px;
  padding-bottom: 14px;
  margin: 0 auto;
  z-index: 1099;
  -webkit-transform: translate3d(0px, 0px, 0px);
  transform: translate3d(0px, 0px, 0px);
  font-size: 25pt;
  font-family: Archive;
}

a,a:link,a:hover,a:visited{color:$cdvrm-purple}

a.scroll-hint {
  color: $cdvrm-purple;
}

a.main-signup {
  text-transform: uppercase;
  background-color: #ae2573;
  font-size: 22pt;
  font-weight: normal;
  margin: 57px auto 0;
  z-index: 1001;
  width: 320px;
  min-height: 100px;
  display: block;
  color: black;
  font-family: "Archive";
  vertical-align: bottom;
}

@keyframes pulse {
  0% {
    color: $cdvrm-purple;
  }

  100% {
    color: black;
  }
}

.caption-text{font-size:75%}

.table .head {
  background: $cdvrm-purple;
  color: white;
}

.table {
  background-image: linear-gradient(180deg, #e9afd5 0%, #e9afd5 100%);
}

summary::-webkit-details-marker {
  display: none
}

summary:after {
  content: "+";
  float: left;
  margin-right: 5px;
}

details[open] summary:after {
  content: "-";
}

summary {
  cursor: pointer
}

$outline-width: 0;
$break-point: 650px;
$brand-primary: $cdvrm-purple;

.section-header {
  color: $brand-primary;
  font-weight: 400;
  font-size: 1.2em;
}

.steps-name {
  @extend .section-header;
}

.steps-timeline {
  outline: 1px dashed rgba(red, $outline-width);

  @media screen and (max-width: $break-point) {
    border-left: 2px solid $brand-primary;
    margin-left: 5%;
    margin-right: 5%;
  }

  @media screen and (min-width: $break-point) {
    border-top: 2px solid $brand-primary;
    padding-top: 20px;
    margin-top: 4em;
    margin-bottom: 3em;
    margin-left: 5%;
    margin-right: 5%;
  }

  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.steps-one,
.steps-two,
.steps-three,
.steps-four {
  outline: 1px dashed rgba(green, $outline-width);

  @media screen and (max-width: $break-point) {
    margin-left: -25px;
  }

  @media screen and (min-width: $break-point) {
    float: left;
    width: 25%;
    margin-top: -50px;
  }
}
.steps-one,
.steps-two,
.steps-three {
  @media screen and (max-width: $break-point) {
    padding-bottom: 40px;
  }
}
.steps-one {
  @media screen and (min-width: $break-point) {
    margin-left: -12.25%;
    margin-right: 7.5%;
  }
}

.steps-three {
  @media screen and (max-width: $break-point) {
    margin-bottom: 0;
  }
  @media screen and (min-width: $break-point) {
    margin-left: 7.5%;
    margin-right: 0;
  }
}

.steps-four {
  @media screen and (max-width: $break-point) {
    margin-bottom: -100%;
  }
  @media screen and (min-width: $break-point) {
    margin-left: 7.5%;
    margin-right: -12.25%;
  }
}

.col-xs-8 {
  max-width: 285px;
  padding-bottom: 40px;
}

.col-lg-3, .col-lg-4 {
  padding-right: 20px;
}

.row-dist {
  padding-top: 30px;
}

#aschaffenburg {
  padding-left: 20px;
  padding-top: 10px;
  min-width: 350px;
}
